[2014-07-04 05:19] RSO opened #12 "Add support for an onChange handler to bind for date-changes from outside the datepicker"

[2014-07-04 05:24] RSO opened #13 "Implement Travis CI"
First version probably only should have JSHint coverage.

[2014-07-04 08:03] #13 closed, assigned to martijnrusschen

[2014-07-07 09:17] martijnrusschen opened #18 "Consider renaming the repo to be consistent with the bower name"
The bower name (and also Rails assets name) is react-date-picker (react-datepicker was already used). It would be better to have consistent naming between this repo and our names we're using for our component.

[2014-07-07 22:55] #12 closed, assigned to nobody

[2014-07-08 03:31] RSO opened #26 "Support for up- and down keys in the input"
When the cursor is placed near the year and the user presses the up-key, it would be nice to see the year get incremented. Same goes for month and day.

This is not a launch blocker or whatever, just a nice-to-have.

[2014-07-08 03:32] RSO opened #27 "Pressing enter inside of the input should close the datepicker"
Not a launch-blocker or whatever, just a nice-to-have.

[2014-07-08 03:43] RSO opened #28 "Clicking on a day causes the datepicker to close without selecting"
**Steps to reproduce:**
1. Go to `http://localhost:8000`
2. Open the datepicker (focus the input area)
3. Hard click on a date (no tap, if you're on a Macbook)

**Expected:**
The datepicker should be closed and the selected date should be filled in the input area

**Received:**
The datepicker is closed, but the new date is not selected

**Tested browsers:**
- Firefox 30.0
- Chrome 35.0.1916.153

*

[2014-07-08 06:21] RSO opened #29 "Show the arrow on the correct side of the datepicker"
Right now, we always show the arrow on the top-left corner of the date-picker. However, when there isn't enough space below the input, the date-picker is shown above the input. When this happens, the arrow should be shown on the correct side.

Tether has helper-classes for this.

[2014-07-08 06:38] RSO opened #30 "Add remark in README about firefox body-height"
I just noticed that the example.html file won't position the date-picker correctly because the body was only `110px` heigh. Not a biggy, but let's add a remark to the README.

[2014-07-08 06:58] RSO opened #32 "Clicking on a day outside of the current month feels flaky"
This should work nicely, we should probably fix the hover styling (add proper cursor etc). Maybe we can think about a way to add an animation that switches months?

[2014-07-08 07:16] #28 closed, assigned to nobody

[2014-07-08 07:16] michiel3 opened #33 "Add Javascript testing"

[2014-09-04 09:36] #26 closed, assigned to nobody

[2014-09-04 09:41] #27 closed, assigned to nobody

[2014-09-08 23:32] michiel3 opened #37 "Picking a date and trying to open the picker again doesn't work"
You have to click outside of the input field and then focus it again to bring back the picker.

[2014-09-12 16:59] #37 closed, assigned to nobody

[2014-09-22 09:33] martijnrusschen opened #42 "Publish package to NPM"
We should publish the NPM package to get listed on http://react-components.com/

More info about publishing a NPM package: https://www.npmjs.org/doc/cli/npm-publish.html

[2014-10-03 19:12] #42 closed, assigned to nobody

[2014-11-06 21:01] meg2208 opened #45 "Add ability to use any date format"
You should be able to enter a custom date format as a prop of the DatePicker element. It currently forces YYYY-MM-DD format.

[2014-11-07 18:21] meg2208 opened #47 "Unable to run with npm/browserify"
Out of the box this is not working if I just import the package using requireJS/browserify. The external dependencies (React, moment, Tether) are assumed to be globals in the source. @RSO are you aware of this issue? I notice there is another issue https://github.com/Hacker0x01/react-datepicker/issues/42 but not sure how thoroughly tested that was.

[2014-12-08 14:41] #45 closed, assigned to nobody

[2015-01-13 15:20] illing2005 opened #53 "How can I initialize it with an empty value?"
Hi,
I like your component, but I am not able to initialize it with an empty value.
How can that be done?
Thanks!

[2015-01-14 16:24] RSO commented on #53
Hey @illing2005 !

Thanks, how would you like this to work? At this point it is not possible indeed, mostly because I'm not quite sure how the component should behave.

What do you expect to see when you open the date-picker when it's empty? I'm thinking the current month?

[2015-01-14 19:30] martijnrusschen opened #57 "Deprecation warning Moment.js"
Deprecation warning: moment().add(period, number) is deprecated. Please use moment().add(number, period).

[2015-01-14 19:32] #30 closed

[2015-01-14 19:49] #57 closed

[2015-01-14 21:11] #32 closed

[2015-01-30 10:47] lbekkema opened #69 "Add ability to disable days in the future or past"
The datepicker ables users to select dates in the future or past, but for some cases these dates are not applicable. For example if you'd have a dashboard, you want to force users to only select dates in the past. Or if you'd have an appointment scheduler you want to force users to select dates in the future.

[2015-01-31 00:32] hahahana commented on #18
Have you guys thought anymore about this? It's especially confusing given react-date-picker is something different on React Components.

[2015-02-02 18:02] hahahana commented on #69
I took a stab at this [in my repo](https://github.com/hahahana/react-datepicker/pull/3/files). It depends on my other PR [(#72)](https://github.com/Hacker0x01/react-datepicker/pull/72), so I haven't submitted it here yet.

[2015-02-05 00:22] RSO commented on #18
Haven't really thought about it, no. We're open for suggestions! I agree that it's confusing, so let's do some brainstorming:

- react-datey
- react-date-input
- react-date-selector

What do you think?

[2015-02-05 09:37] #53 closed

[2015-02-06 09:28] #69 closed

[2015-02-16 15:19] mattdell commented on #47
I'm aslo having this issue. Would be great to be able to use it this way.

[2015-02-17 01:15] MandarinConLaBarba commented on #47
I've submitted a PR for this: https://github.com/Hacker0x01/react-datepicker/pull/81

[2015-02-20 04:23] binarykitchen opened #83 "In the demo, calendar goes beyond the screen"
It overlaps the upper and left window borders ...

[2015-02-21 00:15] RSO commented on #47
Now that #81 has been landed, I think that this ticket can be closed. Can you confirm?

[2015-02-21 00:15] #47 closed

[2015-03-04 13:59] mikha opened #88 "npm package has jsx files in src with js extension"
hi,

while trying to use react-datepicker:0.5.1 I'm getting following:

[code]

this is produced by webpack. naturally my webpack config only applies jsx-loader to files with appropriate extension (*.jsx). can you please keep extension at .jsx for files in /src when you dist the npm package?

[2015-03-04 22:28] RSO commented on #88
Hmm, I'm not quite sure what I should change here. The git repo has those files in a `.jsx` extension. Do you have any suggestions as to what I should fix?

[2015-03-07 01:07] iam4x commented on #88
@RSO You should publish a builded file without JSX synthax in it and minified for NPM packages. This will allow webpack/browserify users work with react-datepicker.

I'll open a PR.

[2015-03-08 07:32] jaseemabid commented on #88
The version installed with npm in unusable at the moment due to this issue

[2015-03-09 13:29] iam4x commented on #88
@mikha @jaseemabid

Try `npm install --save react-datepicker@iam4x/react-datepicker#fix-npm-use-webpack` and use it this way:

[code]

Can I have feedback? This shouldn't run server side yet, because of `Tether` dep.

[2015-03-09 13:58] oliveiraethales commented on #88
Also having this issue, trying @iam4x solution now (:

[2015-03-09 14:14] oliveiraethales commented on #88
Some progress :D Thanks @iam4x! But the positioning is still bad \: And there's a JS error when I click on any calendar day. Also, is it 'normal' to require the datepicker css through something like
`require('../../../node_modules/react-datepicker/dist/react-datepicker.css')` for it to work correctly? Or I should mess with something in webpack config?

![ss](https://cloud.githubusercontent.com/ass

[2015-03-09 14:55] iam4x commented on #88
@oliveiraethales You should have https://github.com/webpack/style-loader with webpack to require css files, or just do it as normal in the html:

[code]

[2015-03-09 21:13] FoxxMD commented on #88
Thank you @iam4x ! Your solution worked for me.

[2015-03-09 21:23] iam4x commented on #88
When the PR #89 is merged, everything should be fine with `$ npm install react-datepicker`

[2015-03-10 14:36] mschipperheyn opened #90 "Quickly navigate years"
It should be possible to click the year and quickly navigate to a different year.

[2015-03-10 14:43] martijnrusschen commented on #33
We have tests now :+1:

[2015-03-10 14:43] #33 closed

[2015-03-25 09:39] manuelmeurer opened #92 "Dependency on React < 0.13"
Is it necessary to limit React to < 0.13 in bower.json?
If not, a new release with that limit removed would be much appreciated! :smile:
(I can submit a PR with that change if needed)

[2015-03-25 19:08] RSO commented on #92
I haven't tested it yet in 0.13, could you confirm if the datepicker works in 0.13?

[2015-03-26 08:16] manuelmeurer commented on #92
Yep, it works fine, have been running it with 0.13 for a couple of days now.

[2015-03-26 22:17] #92 closed

[2015-03-26 22:18] RSO commented on #90
Interesting! How would you imagine this to work?

[2015-03-26 22:30] RSO commented on #88
Could you verify if v0.6.0 fixed this issue?

[2015-03-26 22:31] mschipperheyn commented on #90
Click on the year and get a pulldown that allows you to quickly change the year. In this case, it should also be visually clear the the year is clickable.

[2015-03-26 23:44] RSO commented on #90
Interesting! /cc @lbekkema @jenskanis

[2015-03-26 23:49] manuelmeurer commented on #92
:+1: cheers!

[2015-03-30 10:16] martijnrusschen opened #94 "Datepicker demo not working on Github"
The demo (mentioned in the readme) isn't working anymore since the latest PR's has been merged. We should update the dependencies to be fetched from external domains.

[2015-04-01 00:06] kylecesmat opened #95 "Cannot read property 'classSet' of undefined"
Might be worth noting somewhere that this package requires react with addons for the classSet utility to work correctly. And with that being depreciated soon, maybe looking at including another utility.

For the time being, I was able to get it working in my app with `var React  = require('react/addons');`

[2015-04-01 12:09] jonrh commented on #94
+1, came for demo but not working

[2015-04-03 07:55] vegetableman commented on #94
same issue

[2015-04-03 08:32] martijnrusschen opened #96 "Error when running npm install"
[code]

[2015-04-06 20:56] diki opened #98 "Do you consider a new release"
Thank you for this, it is the best datepicker so far i found.

I installed v0.6.0 through npm and popover was not working fine. Problem was calendar popped on top of inputs if it is 6 line long. I realize problem is about tether options on popover.jsx, while i was trying to fix found out that you also changed tether options but did not release. So i forked and used own release it works much better

[2015-04-08 02:48] RSO commented on #98
Ah, sorry, must have forgotten to do one! I'll get on it right now!

[2015-04-08 02:55] RSO commented on #98
Should be fixed! Thanks for the compliment!

[2015-04-08 02:55] #98 closed

[2015-04-08 02:57] RSO commented on #96
Can you run `rm -r node_modules` and try again? I can't reproduce.

[2015-04-08 02:57] RSO commented on #95
Good call, `classSet` is deprecated, I'll remove it!

[2015-04-08 03:28] RSO commented on #94
@martijnrusschen I pushed a fix, can you get the demo back up and running? I have no clue how any of this works :P

[2015-04-08 03:32] RSO commented on #95
This should be fixed in 0.6.2! Sorry for the inconvenience

[2015-04-08 03:32] #95 closed

[2015-04-08 07:40] martijnrusschen commented on #94
The demo was cached and should work again now. (otherwise do a hard refresh of that page) @jonrh @vegetableman Can you confirm this is working for you now?

[2015-04-08 07:46] martijnrusschen commented on #96
Thanks, fixed!

[2015-04-08 07:46] #96 closed

[2015-04-08 07:51] vegetableman commented on #94
![screen shot 2015-04-08 at 1 26 18 pm](https://cloud.githubusercontent.com/assets/1330851/7040935/f6556b9c-ddf1-11e4-9fb8-5b7669011df1.png)
@martijnrusschen  Did a hard refresh, still the same result for the above url (http://cdn.rawgit.com/Hacker0x01/react-datepicker/master/example/index.html) , although, the demo works fine locally.

[2015-04-08 07:56] martijnrusschen commented on #94
Hmm, looks like the old demo is still cached on your side. The new example only uses the `example.js` as source.

[2015-04-08 18:03] RSO commented on #94
We should just move to github pages.. Any word on that @martijnrusschen ?

[2015-04-09 15:19] martijnrusschen commented on #94
Will work on that soon!

[2015-04-10 12:35] robbinjanssen opened #99 "If minDate and maxDate have values the selected date should be between them"
To create between and not between functionality the calendar should respect the following rules:

- If minDate < maxDate the selectedDate must be between minDate and maxDate.
- If maxDate < minDate (which sounds strange, but hear me out), the selectedDate must be **before** maxDate and **after** minDate. (e.g. not between maxDate and minDate).

[2015-04-10 13:15] robbinjanssen commented on #99
I'm not able to create a branch/pull request, so here are the fixes I applied to achieve this.

In util/date.js add:
[code]

in calendar.jsx at line 87 add:
[code]

[2015-04-10 23:16] RSO commented on #99
Interesting feature request. I think that I would be open to implementing something like this, but would like to add some tests before I add it to the codebase.

Small comment on the code change:

Wouldn't this work the same as the code you proposed?

[code]

I'll see if I can find some time this weekend to write some tests. Thanks for the suggestion!

[2015-04-13 06:25] robbinjanssen commented on #99
I think it does. I can test it tonight in my own fork and let you know, but im quite sure it is the same.

Thanks for picking this up!

[2015-04-14 21:15] ryan1234 opened #101 "Support for React 0.13"
I'm using React 0.13 and this causes react-datepicker to show a warning about getDOMNode being deprecated. (https://facebook.github.io/react/blog/2015/03/10/react-v0.13.html#new-features).

For lines like this in the code:

https://github.com/Hacker0x01/react-datepicker/blob/1d8177aff26042c10bfd25c46d4b4c5b0c98344c/src/date_input.jsx#L33

... what would your thoughts be about abstracting out getDO

[2015-04-14 23:27] RSO commented on #101
Hey! Thanks for taking the time to write up this issue!

I like your approach, although I'm not sure if it wouldn't be a little too much for a small library like this one.

I figure we could also just stop supporting 0.12 in the next version (I'm not sure if there are statistics as to how many people still use 0.12). Being that both react and this datepicker are still `0.` I figure we can still ma

[2015-04-15 03:24] ryan1234 commented on #101
Sounds good. I'll just keep my eye out for the switch when it happens. Bummer they've introduced some breaking changes, but I suppose to be expected. =)

[2015-04-23 09:47] docteurklein opened #104 "it should select the date I entered (by typing) manually in the text field."
It currently doesn't work on firefox 37, nor IE9.
It works on chrome.

[2015-04-28 15:58] tobia opened #105 "Support configuring the className of the <input> element"
Thank you for this great component!

For those using a CSS library (eg. Bootstrap) there is usually a specific class that we need to add to all `<input>` elements, such as `form-control`, for them to follow the library style.

Right now we can replace `datepicker__input` with `form-control` in the datepicker JS file (what I'm doing) or copy all the Bootstrap CSS with the datepicker class name.

It

[2015-04-28 16:27] tobia opened #106 "Invalid changes to the input box are not reverted when the calendar is hidden"
If you try this:

1. Click on the text box, this should bring up the calendar
2. Clic again inside it, this will hide the calendar
3. Type some nonsense in the textbox
4. Click outside

This will leave the textbox with garbage inside it, while the state still contains the last valid date.

Correct behaviour would be either reverting the garbage, or disabling hiding the calendar altogether while th

[2015-05-01 12:08] RSO commented on #104
Thanks for reporting this issue. It's unfortunate that I didn't find the time to respond sooner. I'll see if I can reproduce/fix!

[2015-05-01 12:18] #104 closed

[2015-05-01 12:21] RSO commented on #105
Interesting suggestion. I always imagined that _at some point_ we needed some sort of varaible classNames. If I understand you correctly you're suggesting to only add the option to change the input className?

[2015-05-01 13:05] #101 closed

[2015-05-01 13:09] RSO commented on #106
Interesting case. My thoughts originally were to not change the value of the input without the user actually doing so (e.g. click on a date or change the value). I think you convinced me, but I would like to get some more input from others before implementing.

[2015-05-01 13:12] #94 closed

[2015-05-01 13:12] #88 closed

[2015-05-01 13:17] jenskanis commented on #106
I think disabling the calendar when the text box is focused makes the most sense to me. Reverting the input feels a bit too agressive towards the user.

[2015-05-01 19:22] tobia commented on #105
I used your datepicker on a Bootstrap-based website, and yes, the input was the only className I had to tweak.

I made the following change to my copy of the JS file:

	-	      className: "datepicker__input",
	+	      className: "form-control ignore-react-onclickoutside",

`form-control` is Bootstrap's class that has to be applied to form inputs to give them the library's look.

I also added `igno

[2015-05-01 19:24] tobia commented on #106
I ended up adding `ignore-react-onclickoutside` to the input element, because from my tests I felt that gives the best user experience.

[2015-05-04 04:01] lionng429 opened #107 "support for isomorphic React"
when this date picker is rendered by server client, the system will return `document is not defined`

[2015-05-04 12:38] RSO commented on #107
From what I understand Tether is causing this. I'm open to removing Tether as a dependency, if that's needed, but I don't think that I can find the time for this myself in the next couple of weeks.

[2015-05-20 09:52] iam4x commented on #107
I may have a simple fix in head without dropping Tether for now, I need it too.

[2015-05-20 10:20] iam4x commented on #105
#109 fixes it

[2015-05-22 11:30] WaveString opened #115 "disabled props"
Hello. Thanks for this nice component. But there was a need to disable INPUT under certain conditions.
It would be great if the components looks like:
  <DatePicker
        key="example5"
        disabled={true}
        selected={this.state.example5Selected}
        onChange={this.handleExample5Change}
        weekStart="0"
        placeholderText="I start on Sunday!"
 />
Thanks!

[2015-05-22 11:31] Asgator commented on #115
+

[2015-05-27 11:58] RSO commented on #115
Hi there! I can indeed see that a `disabled` property would make sense. Do you think that you have time to setup a PR? I personally don't think that I'll find the time for it anytime soon, so it would be awesome if someone else could step up to make it!

[2015-05-29 11:37] martijnrusschen opened #118 "Improve examples"
The current examples don't cover all features of the datepicker. We should make sure all features are covered in the examples.

We can use Github pages to create a nice example page. I imagine something that shows the code example on the left and the actual output on the right for each feature/example.

Optionally, we could use React Playgrounds to give people the ability to play with the code wit

[2015-05-29 11:39] martijnrusschen opened #119 "Improve test coverage"
The current test coverage does only cover some basic features. To keep a stable datepicker we should expand the test coverage and keep track of the current coverage by making sure each new feature has enough coverage.

[2015-05-29 11:40] martijnrusschen commented on #107
@iam4x Can you confirm this is fixed now?

[2015-05-29 17:01] iam4x commented on #107
It's good for me!

[2015-05-31 07:41] at0g opened #120 "Support dynamic props"
There's no way to set other props on the datepicker input element - it's a black box.

So if I wanted to add props such as onBlur, aria-*, className or anything else that is not explicitly added, they are simply ignored.

[2015-06-02 14:51] tom-james-watson commented on #118
Some basic documentation of how to use the date picker could be included in the README as a start

[2015-06-03 13:46] martijnrusschen commented on #118
Agreed. I'll take a pass on this soon!

[2015-06-05 15:47] arqex opened #122 "Moment.js as a peer dependency"
Hi,

Moment.js is a big dependency that I don't want to add twice to my bundle. Could it be moved to the peerDependencies in `package.json` like react?.

Thanks for this component, works great.

Cheers,
Javi

[2015-06-05 16:23] arqex opened #123 "Dist scripts are really heavyweight"
How can the singleton scripts in the `/dist` folder be so big?

https://github.com/Hacker0x01/react-datepicker/blob/master/dist/react-datepicker.js is almost 500KB.

[2015-06-09 15:11] martijnrusschen commented on #122
I tried moving the dependency to peerdependencies, but when running npm install I got the following message:

[code]

Not sure if we want to change this or not, the documentation I found about the difference between dependencies is not really clear to me, but maybe you could help me out with this.

[2015-06-09 16:08] arqex commented on #122
Hi @martijnrusschen

A peer dependency is a module needed by the package to work but that it is not installed with the package. That is, if I need to use react-datepicker and moment.js is a peer dependency of it, I will need to have moment.js also installed to make it work, but react-datepicker won't install it for me.

In my case I am already using moment.js in my projects. Moment.js is a moderat

[2015-06-10 21:22] jbrumwell opened #124 "Uncontrolled Usage"
What are your thoughts on allowing the datepicker to be used as an uncontrolled element, https://facebook.github.io/react/docs/forms.html#uncontrolled-components?

Would allow you to;

[code]

Instead of listening on the event for changes.

[2015-06-12 17:48] edshadi opened #126 "calendar displays wrong days with minDate"
I have a DatePicker that looks like this:
[code]

this causes the calendar to display the wrong dates like [this](https://s3.amazonaws.com/prod.tracker2/resource/46767996/Screen%20Shot%202015-06-08%20at%203.56.48%20PM.png?AWSAccessKeyId=AKIAIKWOAN6H4H3QMJ6Q&Expires=1434133063&Signature=Y%2FwK0GZYVfRgtJ8BJxX10bOiU8k%3D)

Friday is the 5th not Saturday.

[2015-06-15 09:02] eliseumds commented on #123
The distribution build is definitely wrong. It includes https://github.com/HubSpot/tether and https://github.com/lodash/lodash. Shouldn't be a problem if you are using Webpack and Dedupe Plugin, but is annoying. One could either:

* Define both modules as *externals* in *webpack.config.js*
* Or split the code in *app* and *vendor* builds

[2015-06-15 12:03] martijnrusschen commented on #123
Ah, yeah that's related to #122. I was thinking about what dependencies should be peer/external dependencies and which one should be like the normal dependencies. Any thoughts?

[2015-06-15 14:43] eliseumds commented on #123
I think *lodash* and *moment* could be good peer dependencies. And there could be multiple distribution bundles.

As I said, Webpack users shouldn't have big problems, but not everyone uses it. One thing that can reduce the bundle size a lot is requiring specific *lodash* modules instead of the whole library. Example:

[code]

The same can be done with *moment*, so, even if the developers don't ha

[2015-06-15 15:08] eliseumds commented on #123
Oh, sorry. It's actually not possible yet to import *moment* modules like that. There's an issue (https://github.com/moment/moment/issues/2373) regarding it.

[2015-06-18 14:58] iskdjim opened #127 "Uncaught TypeError: this.props.onChange is not a function"
Hi,
i use the datepicker like this.

<DatePicker
        			key="example2"
        			dateFormat="YYYY/MM/DD"
        			selected=""
        			onChange={this.handleEndDateChange}
      			/>

if i click on the datepicker input field the calender opens, but when i click on a date...i get the error message Uncaught TypeError: this.props.onChange is not a function

had someone a problem like this an

[2015-06-19 06:25] #127 closed

[2015-06-19 22:34] MahatmaManic commented on #118
+1. I've installed react-datepicker and am trying to make use of it. Currently I am using:

var DatePicker = require('react-datepicker);

and then in render adding a
<DatePicker />
to my component heirarchy.

That seems to show up, but when I select it everything goes very bad (a long column of unstyled text). I looked in the examples, but they all specifically refer to src files rather than using

[2015-06-23 09:45] #107 closed

[2015-06-23 12:43] RSO commented on #124
Hmm, interesting approach. I guess I initially made it a controlled input to allow for masking/styling of the input while typing (`--/--/----`), but haven't gotten to implementing that yet. What's the reason for you to make the datepicker uncontrolled?

[2015-06-23 13:16] RSO commented on #122
Hey @arqex,

Sorry for getting back to you this late, I've been away on vacation.

I agree that for now momentjs is better suited to be a `peerDependency`, but I'm not completely sure yet as to how that would work. Does it mean that I'll have to manually install momentjs in order to be able to develop on the datepicker? Or should I maybe make it a `devDependency` and a `peerDependency`?

npm/npm#6

[2015-06-23 13:17] RSO commented on #122
I'm also not quite sure where to draw the line between `dependencies` and `peerDependencies`, why not make all `dependencies` `peerDependencies`?

[2015-06-23 13:40] RSO commented on #122
So, I did some more reading on `peerDependencies`, and based on https://github.com/npm/npm/issues/5080#issuecomment-40510098 I think that we shouldn't use `peerDependencies` for this. Could you maybe try and see if the the `npm dedupe` command fixes your problem?

[2015-06-23 14:34] arqex commented on #122
Hi @RSO

I think they won't be installed automatically as for npm v3.0 and ahead.

Wow! `npm dedupe`! I have never heard of it, I should have a look. About peerDependencies being deprecated, it is a tough matter. You will never make react a real dependency, as long as you don't want to break any react application installing react-datepicker, but it is true that is difficult to be sure when a depen

[2015-06-23 17:48] jbrumwell commented on #124
This will just give it an option to be used in both controlled and uncontrolled. Our main requirement was to be able to get the value out of the datepicker and there was no link to the date input.

[2015-06-24 08:24] RSO commented on #122
How are you including the datepicker? Are you doing a `require('react-date-picker')` or are you include the `react-datepicker.js` file in your source? The latter shouldn't include momentjs.

I just checked the `react-datepicker.js` file and it seems odd that it still includes Tether and lodash, so I guess I'll remove those from the package as well, and assume that all dependencies are loaded exter

[2015-06-24 09:29] RSO commented on #124
Thanks! I've merged the PR to master, will perform a release later today.

[2015-06-24 09:29] #124 closed

[2015-06-24 12:53] RSO commented on #123
`react-datepicker.js` is now 18kb, does this solve this issue?

On a separate, somewhat related note: I'm also going to remove the example from this repository and instead turn it into a github page, this aught to clean up the PRs a lot.

[2015-06-24 12:54] RSO commented on #123
A little more info on what I did to make the file smaller: in `webpack.config.js` we now state that all external libraries are in fact expected to be available already (React, Moment, react-onclickoutside, Tether and lodash). This means that the file now only holds datepicker specific code.

[2015-06-24 13:10] arqex commented on #123
Hi @RSO,

Great news you made the datepicker so lightweight!

As for what to put in the build, it is complicated to decide what to leave out. In your case I think it should be a great idea to leave react-onclickoutside and Tether. There is a big chance that the datepicker is the only lib that use them and they are not big enough to be a problem if they are repeated.

In the timepicker put react-cl

[2015-06-24 13:14] eliseumds commented on #123
@arqex :+1:

[2015-06-25 00:46] jbrumwell commented on #124
Thanks Remon for your great component :+1:

[2015-06-25 08:11] RSO commented on #123
I think this is all personal preference (I just noticed that HackerOne had two copies of Tether inside its packed JS because of the way we packaged the lib), that's why I think it would be best to just defer all dependency loading to the user. That way the user has all control.

The scary part here really is that H1 uses underscore in it's codebase :) let's hope that we don't use any lodash-specif

[2015-06-26 12:15] skurger commented on #115
This issue can now be closed.

[2015-06-26 14:18] RSO commented on #115
Thanks!

[2015-06-26 14:18] #115 closed

[2015-06-26 14:20] skurger commented on #115
No problem!

[2015-06-29 03:21] skurger commented on #126
I'm getting "Request has expired" from the link you provided which I think was a screenshot.

I looked at the demo which has an example using minDate but the dates are correct.  Can you give some more info on how to reproduce?

[2015-07-08 09:33] #123 closed

[2015-07-08 15:39] bkniffler opened #132 "Update dist files"
Hi,
I noticed that the files in /dist folder are not up to date, SSR rendering doesn't work for example. Could you please build those and update to npm?

Thanks!

[2015-07-08 18:38] #29 closed

[2015-07-08 22:37] sconno05 opened #133 "Unable to set selected state from external component"
I think there is an issue with the selected state value.  Specifically, a parent component can set the selected value by passing it as a prop, but if the parent were to change its value, the DatePicker component does not receive the update.  I have a separate "Clear" button on my page that should be able to clear the input.  I believe the root of the issue is the use of getInitialState() to set se

[2015-07-09 03:45] raorao opened #134 "incompatible with React version below 0.13.0"
attempting to load, I get the following error:

[code]

The `findDOMNode` API was introduced in [React 0.13](https://github.com/facebook/react/blob/master/CHANGELOG.md#0130-march-10-2015), which is the root cause of the problem. I'd be happy to put in a fix, although perhaps the library is meant not to support older versions of React. interested to hear your thoughts.

[2015-07-09 11:55] martijnrusschen commented on #134
Hi @raorao. This is something that was added in React 0.13. We're happy to support merge a PR that adds backward compatibility of the React 0.12 behaviour, but be aware that React is still in beta and you will continue having breaking changes until React hits 1.0.

[2015-07-09 12:07] martijnrusschen commented on #132
I have pushed the latest changes to the dist files. Are they up to date now?

[2015-07-09 13:42] bkniffler commented on #132
Hey, thanks.. though I still get server-side:

[code]

I updated to latest 0.10.0

[2015-07-14 17:57] cschuch commented on #133
:+1: I'm also having an issue with this, that fix would solve my problem as well.

[2015-07-15 11:45] martijnrusschen commented on #133
Thanks, I'll take a look at #135 to make sure it works fine with our config too.

[2015-07-15 23:30] MR0B0T opened #136 "ref error"
[Error] TypeError: null is not an object (evaluating 's.findDOMNode(this.refs.input).blur')

[Error] Error: Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. This usually means that you're trying to add a ref to a component that doesn't have an owner (that is, was not created inside of another component's `render` method). Try rendering this component inside of a new

[2015-07-15 23:53] andrerpena opened #137 "ReferenceError: document is not defined"
When I try to server render using Node.js + Express + ReactRouter, I get this:

    C:\Projects\Git\gearz\node_modules\react-datepicker\node_modules\tether\dist\js\tether.js:406
    var el = document.createElement('div');
             ^
    ReferenceError: document is not defined

You are assuming `document` exists, which isn't true when you are server rendering.

The most curious part is that I'm

[2015-07-17 16:47] sconno05 commented on #133
Thanks Martijn.  Do you have an ETA for when you can merge this in?

[2015-07-23 04:28] leonciokof opened #139 "Move lodash to dependencies"
Error in webpack:

[code]

[2015-07-23 13:00] voronianski commented on #107
@iam4x @martijnrusschen what version are you using? I'm on `0.10.0` and still have tether complaints on server:

[code]

[2015-07-24 13:32] ljconde commented on #139
Getting this same one..

[2015-07-24 17:00] tonyhb commented on #136
You might want to look into parent vs owner refs:  https://gist.github.com/jimfb/0eb6e61f300a8c1b2ce7

Maybe you're making the calendar in a component which isn't owned by your parent component.

[2015-07-27 08:26] nadav-dav commented on #137
:+1:

[2015-07-27 15:05] aferrandi opened #141 "IE10 freeze"
If I run the example:

http://cdn.rawgit.com/Hacker0x01/react-datepicker/master/example/index.html

the 3rd line (the one with no date already selected) makes internet explorer 11 freeze when I try to choose a date in the datepicker.
Firefox and Chrome don't have any problem.

[2015-07-28 08:45] martijnrusschen commented on #139
Fixed by #140

[2015-07-28 08:45] #139 closed

[2015-07-28 08:46] martijnrusschen commented on #118
Ref http://www.gpbl.org/react-day-picker/#examples/Basic calendar

[2015-07-28 08:47] martijnrusschen commented on #118
@MahatmaManic Did you try to add the stylesheet by yourself?

[2015-07-28 09:11] #133 closed

[2015-07-28 09:14] martijnrusschen commented on #139
Thanks, will release these changes today.

[2015-07-28 09:14] martijnrusschen commented on #133
Thanks, will release this today.

[2015-07-28 12:38] ljconde commented on #137
Getting this same issue still in 0.11..

[2015-07-28 15:38] sconno05 commented on #141
I ran into this with IE 9 and 10 as well.  It looks like it was introduced with v0.11 (I was not able to reproduce with v0.10).  I verified that this was not caused by my pull request #135.  I would appreciate a fix ASAP, I've been waiting on v0.11.

[2015-07-28 18:53] RSO commented on #141
I will check it out, however, as of yet I have no way to test in IE, I'll have to look into that as well.

[2015-07-28 19:36] RSO commented on #141
I'll have to download an IE11 vm for my mac, so that'll take some time. If somebody else could provide me with a trace/screenshot/whatever it would mean a lot to me!

[2015-07-28 19:53] RSO commented on #137
@martijnrusschen and I will dive into some IE testing tomorrow. Please stay put!

[2015-07-28 20:10] sconno05 commented on #141
There are no errors being console logged as far as I can see.  I am attaching a screenshot, the steps to reproduce are:

1. Open IE
2. Go to http://cdn.rawgit.com/Hacker0x01/react-datepicker/master/example/index.html
3. Click the first input field
4. Select a date
5. IE locks up, must be shut down

![image](https://cloud.githubusercontent.com/assets/2985457/8942377/4542d3c4-3532-11e5-819b-c4f8dfc0

[2015-07-29 10:03] RSO commented on #141
Fixed in dad57db772c492b9446e78da183f6a7984e6f1a5. @martijnrusschen will do a release. Thanks for reporting!

[2015-07-29 10:05] RSO commented on #141
Now I'll have to figure out how to run tests in sauce-labs, and write a test for this in IE!

[2015-07-29 10:07] RSO commented on #137
I'm not really that well versed in the SSR bit, but shouldn't #113 have fixed this?

[2015-07-29 10:16] martijnrusschen commented on #141
Version 0.11.2 has been released!

[2015-07-29 10:18] martijnrusschen commented on #132
Looks like the same issue as #137

[2015-07-29 11:35] martijnrusschen commented on #126
Is this still an issue? If so, can you post a POC?

[2015-07-29 11:35] martijnrusschen commented on #83
Is this still an issue? If so, can you post a screenshot?

[2015-07-29 11:47] martijnrusschen commented on #120
Do you still want to introduce dynamic props? Any way we can help you?

[2015-07-29 12:03] sconno05 commented on #141
Thanks for the quick turn around guys.
On Jul 29, 2015 4:16 AM, "Martijn Russchen" <notifications@github.com>
wrote:

[2015-07-29 12:25] martijnrusschen commented on #136
Can you show an example where this is happening?

[2015-07-29 15:15] sconno05 commented on #141
I am unfortunately still seeing this issue in IE10.  IE9 seems to be working.  I was able to reproduce after upgrading locally and on the examples page.

[2015-07-29 15:20] gabroe commented on #137
I'm having the same issue... (node ssr)  If I require the datepicker on the server without even using it it shows that error. A workaround I found is that if I require it just before I open the picker I don't see it, in my case I will never render the picker on the server side, so it works.

I tried to locate the issue and seems to be with tether itself,

see:
[code]

That code gets executed when

[2015-07-29 15:51] edshadi commented on #126
I can't reproduce it now, I will reopen an issue if/when I do.

[2015-07-29 21:32] binarykitchen commented on #83
i cannot remember nor reproduce. because your comment comes in five months late after reported.

[2015-07-30 09:38] martijnrusschen commented on #83
Sorry, my bad. We're working on improved examples, those improvements will avoid issues like these.

[2015-07-30 13:32] martijnrusschen commented on #83
A new demo has been deployed: https://hacker0x01.github.io/react-datepicker

[2015-07-30 13:32] #83 closed

[2015-07-30 13:33] #105 closed

[2015-07-30 13:33] martijnrusschen commented on #118
New examples are added to https://hacker0x01.github.io/react-datepicker

[2015-07-30 13:34] skurger opened #146 "Disabled prop not working correctly"
It seems that the disabled property is not working as it was when I submitted my pull request.  The input should have the disabled HTML property and not allow the input to have focus.  This is no longer the case.

[2015-07-30 13:38] martijnrusschen commented on #146
Yep, this is a bug. Looks like the disabled isn't propagated to the input itself. Could probably be fixed by adding a `disabled={this.props.disabled}` in the `date_input.jsx` file around line 80.

[2015-07-30 13:40] skurger commented on #146
I can fix this later today.  That property was removed from the input sometime after my branch was merged.

[2015-07-30 13:46] martijnrusschen commented on #146
Sorry about that! Thanks for fixing though!

[2015-07-31 14:25] #146 closed

[2015-07-31 15:33] martijnrusschen commented on #141
Debugging here #150, would be cool if we could reproduce these issues in a test.

[2015-08-03 08:40] RSO commented on #137
Right, I think I know where this issue is coming from. I was a bit confused, as we clearly only load Tether when `document` is defined, but then I realised that we just figured out that the webpack `externals` feature has a strange side-effect: if you say you expect a dependency to be global, it will make it global if it isn't already.

I'll have to dig into this, we noticed this @Hacker0x01 when

[2015-08-03 13:43] bmcneely opened #153 "Problem with className property of DateInput component"
It used to be possible to pass in a className property to style the DateInput component, but recent changes have caused the className to automatically be assigned to "datepicker__input" instead of this.props.className.

[2015-08-03 13:48] martijnrusschen commented on #153
Oh man, that shouldn't break. I'll spend some time this week to get this fixed. (+ add a test)

[2015-08-04 09:41] jenskanis opened #154 "Consider changing default date format"
Currently the default date format is `YYYY-MM-DD`, while a more frequently used format is `YYYY/MM/DD`. Let's consider making that the default.

[2015-08-04 13:25] fzzzt opened #155 "react-datepicker.js:104 Uncaught TypeError: Cannot read property 'isEqual' of undefined"
You should really document the requirements somewhere.

[2015-08-04 14:19] #153 closed

[2015-08-04 14:50] bmcneely opened #156 "Problem with tabbing navigation"
If you open the demo and press Tab to move focus from one DatePicker to another, the calendar of the original DatePicker stays open. I think that by default it should hide the same way it would when you click outside of the calendar.

[2015-08-04 14:52] RSO commented on #155
I would say that the `peerDependencies` are pretty usable for this?

[2015-08-05 22:05] johnwp opened #157 "Refs Error"
On line 678 of dist/react-datepicker.js:
Uncaught TypeError: Cannot read property 'focus' of null

	  toggleFocus: function toggleFocus(focus) {
	    if (focus) {
	      React.findDOMNode(this.refs.input).focus();
	    } else {
	      React.findDOMNode(this.refs.input).blur();
	    }
	  },

[2015-08-06 09:10] martijnrusschen commented on #157
Which version of React are you running?

[2015-08-07 18:08] sconno05 commented on #141
It looks like this is still not working in IE10 as of 0.11.3. I unfortunately will not be able to debug until sometime next week but I would really appreciate a fix.

[2015-08-10 20:26] ntdb opened #158 "Datepicker closes on month navigation when an `onBlur` prop is provided"
The GIF shows the problem:
![broken_datepicker](https://cloud.githubusercontent.com/assets/2095463/9183210/b608bf30-3f62-11e5-9135-ce9be5ad95b0.gif)

[This is the specific usage.](https://github.com/WikiEducationFoundation/WikiEduDashboard/blob/a3bea63fd6307336702b28cbe2c3aed1420b7d1a/app/assets/javascripts/components/common/text_input.cjsx#L35-L48)

My short-term fix for this has been to downgrad

[2015-08-10 20:46] ntdb commented on #158
Naturally, I found some answers after logging an issue. :) I've traced it back to #129. I'm using a custom onBlur callback which causes [this code](https://github.com/Hacker0x01/react-datepicker/blob/master/src/datepicker.jsx#L61-L64) to run, closing the calendar. My first thought is to simply add

[code]

to the `increaseMonth` and `decreaseMonth` functions... but `handleBlur` gets called after t

[2015-08-12 01:33] benrlodge opened #160 "calendar displaying incorrect dates"
Great component thanks, just noticed an issue though. As seen below, July 25, 2015 should be a Saturday, not a Sunday. Sometimes I'll see it correct, but not always. FWIW the date that is saved is correct, just what's displaying on the calendar.

![screen shot 2015-08-11 at 9 25 56 pm](https://cloud.githubusercontent.com/assets/3275453/9214762/c179c554-406f-11e5-89bf-e2eec749b1c3.png)

![screen sh

[2015-08-12 21:14] truckingsim commented on #141
This freezes in IE11 and IE10 in 0.11.4.  We've been attempting to debug it but haven't gotten anywhere with it yet.

[2015-08-13 12:56] ljconde commented on #137
Has there been any progress on this? I'm still getting "document is not defined" when upgrading to 0.11.4, and have to revert to 0.8.0.

[2015-08-13 20:22] sconno05 commented on #141
It looks like IE is handling the input's onChange event in an unexpected way, which is causing an infinite loop when you select a value from the calendar.  I made a modification that will fix this.  I am not sure if it is the best fix.  I cannot initiate a pull request though because I needed to add a hack to our version to fix another IE issue, which is preventing the calendar from closing when y

[2015-08-13 20:26] sconno05 opened #161 "Calendar does not hide when pressing Enter in IE"
Steps to reproduce:

1 Go to example page: https://hacker0x01.github.io/react-datepicker/
2. In the first example (Default), enter a new value into the input field and press enter
3. The calendar does not close, but it will close in Chrome/Firefox

Tested in IE9, IE10, IE11 - all have the same behavior

[2015-08-13 20:46] martijnrusschen commented on #141
Thanks for looking into this, I'll see if I can create a PR based on your changes. Would be happy to get this fixed though!

[2015-08-13 22:02] dcousineau commented on #141
@martijnrusschen @sconno05 try my PR above and let me know if that works for you both (it's working for us)

[2015-08-13 22:22] martijnrusschen commented on #141
@sconno05 Can you confirm, that PR fixed your issues too? I'm happy to merge it if it fixes the IE issues. Thanks @dcousineau!

[2015-08-13 22:33] dcousineau commented on #141
No problem!

![](http://media0.giphy.com/media/wTzPSxZBqSove/giphy.gif)

[2015-08-13 22:50] martijnrusschen opened #163 "Saucelabs tests are failing randomly"
Looks like Saucelabs can't execute their tests on external PR's?

[2015-08-14 03:00] sconno05 commented on #141
I pointed our app to https://github.com/croscon/react-datepicker.git, but
the infinite loop was still occurring in IE10.

On Thu, Aug 13, 2015 at 4:33 PM, Daniel Cousineau <notifications@github.com>
wrote:

[2015-08-14 03:01] martijnrusschen commented on #141
To make sure, did you point it to the correct branch? Looking at his repo, it should be `bugfix-ie-infinite-loop`

[2015-08-14 03:06] sconno05 commented on #141
Good call.  Pointing to the correct branch, it does fix our issue.

On Thu, Aug 13, 2015 at 9:01 PM, Martijn Russchen <notifications@github.com>
wrote:

[2015-08-14 03:07] martijnrusschen commented on #141
Cool, lets do this! Thanks for confirming the fix @sconno05

[2015-08-14 03:15] martijnrusschen commented on #141
Released: https://github.com/Hacker0x01/react-datepicker/releases/tag/v0.11.5

[2015-08-14 03:30] dcousineau commented on #141
![](http://www.lukeshavak.com/wp-content/uploads/2012/04/Homer-Simpson-Woohoo.gif)

[2015-08-14 03:33] martijnrusschen commented on #141
Resolving this, lets reopen if it still occurs! Thanks guys!

[2015-08-14 03:33] #141 closed

[2015-08-16 08:46] akohout opened #167 "Uncaught TypeError: e.format is not a function"
I start your component with

[code]

But as soon as I add the selected property with a value, I get the error ```Uncaught TypeError: e.format is not a function```.  The console points to this line that causes the error:

[code]

For values, I used a simple string in my expected format (e.g. 01.01.1990), and I also tried Javascript Date objects. Doesn't change anything.

[2015-08-16 08:53] akohout commented on #167
Ah I see, when I use a Moment object, it works. Maybe this should go anywhere in the documentation :)

[2015-08-16 08:53] #167 closed

[2015-08-16 18:52] bracken opened #168 "Allow marking as required"
We use the HTML 5 form validation stuff a lot and would like to be able to mark some DatePicker inputs as required, but it looks like there is no way to get that property down to the actual Input that's rendered.
That'd be a nice feature. I probably won't get to creating a pull request any time soon (sorry), but thought I'd log a ticket. Thanks.

[2015-08-17 18:01] martijnrusschen commented on #167
Agreed. Documentation sucks. We'll get some better documentation soon!

[2015-08-18 00:19] JustHereForTheBugReport opened #169 "Cannot initialize a datepicker with a date"
In datepicker.jsx line 151:

date={this.state.selected}

Should probably be:

date={this.props.date}

Otherwise it's not possible to specify an initial date.

[2015-08-18 00:28] JustHereForTheBugReport commented on #169
Alternatively, if default dates should be specified as such, which is apparent to me now: <DatePicker selected={moment()} /> I think this should be mentioned in the readme.

[2015-08-18 13:41] mayuelei66 opened #170 "how to set local language,more detail example."
Hi, I find there is't a example show how to set local language, I'm a little confused.And I also find I can't use delete key to delete the date.Version 0.11.5

[2015-08-18 13:47] mayuelei66 commented on #170
<DatePicker placeholderText="开始时间"
                                                className="form-control"
                                                selected={this.state.startDate}
                                                onChange={this.handleStartDate}
                                                locale="zh-CN"
                                        />
it doesn't show Chinese ve

[2015-08-18 23:15] JustHereForTheBugReport opened #171 "Textbox is not user-editable"
When placing the cursor into the textbox and attempting to delete a character or enter a new character the value is always rejected. This makes it impossible to manually enter a date and contradicts the demos.

See date_input.jsx line 70 ( value={this.safeDateFormat( this.props.date )} ) and compare to the corresponding line in the demos (value: this.state.value).

This bug precludes me using this

[2015-08-20 20:07] mydudechris opened #173 "Disable Next if exclude is set"
Would it be possible to disable the Prev/Next buttons if the exclude values are set? For example, I'm setting up two inputs, a from and to date. The to date is set to today and the user shouldn't be able to go beyond today. Rather than simply setting the future dates to a light color, I'd rather just disable moving forward altogether. Is that something we can request as a feature? Thanks!

[2015-08-21 04:13] jaceechan opened #175 "is it has Custom months?"

[2015-08-21 18:11] lindslev commented on #171
:point_up_2:

[2015-08-21 21:11] martijnrusschen commented on #175
Can you give an example how this should work?

[2015-08-23 22:30] #168 closed

[2015-08-24 06:58] jaceechan commented on #175
just like Custom weekdays , let me set the months with other language

[2015-08-24 17:02] zazmaister opened #177 "There is no styling"

[2015-08-24 17:29] jesenko opened #178 "Use moment.weekdaysMin() for weekdays"
Considering that `moment` is used for formatting of date-related stuff in datepicker (e.g. `month+year` in calendar header), why is it not used to obtain weekdays?

I am currently setting it as

    const weekdays = moment.weekdaysMin()
    <Datepicker weekdays={weekdays} />

I assume this would be sensible default - also taking into account `locale` property of `<Datepicker />`?

Current implemen

[2015-08-24 17:38] #177 closed

[2015-08-24 19:50] sherodtaylor opened #179 "Server-Side Rendering doesn't work"
[code]

[2015-08-24 23:47] tcwilson commented on #179
I'm having this same issue.  Also see #137

I've tried to find a workaround using webpack, but have not been able to.  Currently there is code that attempts to delay the tether require, if `window` and `document` are undefined.  https://github.com/Hacker0x01/react-datepicker/blob/master/src/popover.jsx#L70

[code]

Unfortunately, it seems webpack looks at all `require`s, bundles them up, and evalu

[2015-08-26 01:37] JustHereForTheBugReport commented on #171
As stated in the original post, currently the datepicker doesn't accept user input from the keyboard. I've submitted a pull request which contains a fix for this issue.

Some notes on the behavior of this fix:
* If the user enters an invalid date the onChange method will be invoked with a null value.
* If the DatePicker is assigned a null value it will continue to show the last displayed value.

C

[2015-08-27 05:07] Sridatta7 commented on #137
Getting same error in 0.12. Are there any workarounds?

[2015-08-27 14:17] gabroe commented on #137
Well, I'm still using it, I just made a fugly workaround, fortunately the component that contains the datepicker has to re-render after some data gets loaded into the page so what I did is if I canUseDom I render the datepicker, otherwise I just render a simple input.

[code]

[2015-08-27 16:37] andrerpena commented on #137
Just out of curiosity... Do you get any error for inconsistency between
whats been rendered on the client and on the server?

Em Qui, 27 de ago de 2015 11:17, Gabriel Espinola <notifications@github.com>
escreveu:

[2015-09-02 19:18] bmcneely commented on #171
@JustHereForTheBugReport You say that "If the DatePicker is assigned a null value it will continue to show the last displayed value." How does that play out if the user wants to clear the input field?

[2015-09-03 10:52] JustHereForTheBugReport commented on #171
@bmcneely The user would need to highlight their input and backspace it themselves. There is no way to programatically clear the date input display value with the pull request I have submitted. This is because the aforementioned commit breaks key functionality that would make this possible. If your use case requires programatically clearing the date input display value I would suggest checking out

[2015-09-08 06:08] antonholmquist commented on #169
+1

[2015-09-08 10:03] cglantschnig commented on #169
thanks I was looking for that.
A little "How to start"-section would be nice in the readme

[2015-09-08 16:00] mydudechris commented on #173
Bump

[2015-09-11 04:13] mordra commented on #167
+1, wasted too much time on this...

[2015-09-11 13:10] weebl2000 opened #182 "Clear button does not work in Firefox"
When trying to clear a datepicker in Firefox by clicking the clear button, nothing happens.

[2015-09-11 13:47] weebl2000 commented on #182
It might be a CSS problem.

[2015-09-12 00:50] vladikoff commented on #137
Same error
[code]
with
[code]
Trace:
[code]

[2015-09-14 08:46] RSO commented on #178
SGTM. Not sure if I can find the time to work on this, so a PR would be much appreciated.

[2015-09-14 17:36] SpencerCDixon commented on #169
+1 needs more documentation on getting started for sure

[2015-09-14 17:57] SpencerCDixon opened #184 "this._date.locale is not a function"
I finally realized I need to use a moment() for the initial date to work but now whenever I try to change the date I get `this._date.locale is not a function`

Pretty new to JS so sorry if there is a simple answer but I can't seem to figure out what to do

[2015-09-14 18:03] SpencerCDixon commented on #184
Wow cant believe I missed this:
`import moment from 'moment';` fixed my problem

[2015-09-14 18:03] #184 closed

[2015-09-16 23:56] marr commented on #171
Fwiw, I created a hacker1 theme for a similar date-picker repo here github.com/zippyui/react-date-picker.
It allows for programmatically using an input, and has a cleaner implementation, imo.

[2015-09-22 10:43] Hagbarth commented on #137
To anyone interested I created a small wrapper, that you can import instead of the DatePicker.
It just renders an input field serverside and on the client it passes the props along using ES7 spread syntax.

I just
[code]
And it seems to work fine.

https://gist.github.com/Hagbarth/2eeb59bcbc303313a10e

[2015-09-22 14:18] gabroe commented on #137
Thanks!, It looks good, I like to use ```canUseDom``` instead of checking for document, my2c

```import { canUseDOM } from 'react/lib/ExecutionEnvironment';```

[2015-09-23 15:38] cowboy opened #186 "When `selected` isn't specified, I see a warning in the console."
Many of the examples on https://hacker0x01.github.io/react-datepicker/ don't have a `selected` property. When clicking them (and in my own code) I see this warning in the console:

Is this warning really necessary? Can it be removed?

[2015-09-23 15:43] cowboy commented on #186
(Or is there a way to prevent the warning from displaying?)

[2015-09-23 23:59] unphased opened #187 "When 'select' prop is not provided (because I want a blank picker), picking anything causes instant breakage"
[Here](https://github.com/Hacker0x01/react-datepicker/blob/master/dist/react-datepicker.js#L494):

[code]

Once selected and the widget gets re-rendered by parent, we have nextProps.selected being `null`. At this point the code explodes because `new DateUtil(null)` cannot have `clone` called on it...

[2015-09-24 00:15] ShardPhoenix commented on #137
I also had this problem when running mocha tests, as the import of Datepicker fails because it tries to access 'document' before jsdom() is called in the test (which is what makes 'document' available). I fixed this by moving the require of Datepicker into the render() method of the component that uses it rather than having it as an import at the top.

[2015-09-25 02:20] mskeving commented on #184
Hey - I'm getting this same problem and I'm not sure how to fix it. Would you mind elaborating a bit more on how you fixed it?

I'm rendering the datepicker with selected=moment(), but when I click on the input box to get the calendar to popup, I get this error.

[2015-09-25 08:29] martijnrusschen commented on #186
This is caused because selected is a required prop in calendar.jsx. This looks like a leftover after we've added more functionality like placeholders. I'll go ahead and remove this to get rid of those warnings.

[2015-09-25 08:53] martijnrusschen commented on #182
This was changed in https://github.com/Hacker0x01/react-datepicker/pull/165, @ntdb do you have any idea why this isn't working in Firefox?

[2015-09-25 10:59] SpencerCDixon commented on #184
can you paste a gist with the code? I can compare it to what I got working

[2015-09-25 11:06] martijnrusschen commented on #184
Hi guys, I'm working on an improved version of the documentation. Take a look at https://github.com/Hacker0x01/react-datepicker/pull/189 to see if that makes it more clear. Comments are welcome!

[2015-09-25 11:10] #118 closed

[2015-09-25 17:42] ntdb commented on #182
@martijnrusschen I don't but it looks like you figured it out! Something to do with `button` vs `a`?

[2015-09-25 18:00] SpencerCDixon commented on #184
Looks like a great improvement! +1

[2015-09-26 14:44] nosoosso opened #192 "Uncaught TypeError: Cannot read property 'clone' of undefined"
When I run this:

[code]

I got this:

`Uncaught TypeError: Cannot read property 'clone' of undefined`

Should I not call setState() in onChange callback?

[2015-09-26 14:57] nosoosso commented on #192
Ah, it looks like the same issue as #187.

[2015-09-27 00:10] unkw opened #193 "Incorrect popover position"
if is no scrolling then the popover position little different. If has scrolling then everything works as it should.

[2015-09-28 07:04] yomolify opened #194 "CSS Not Loading - Redux Hot Example"
Trying to integrate this beautiful datepicker into this very popular React-Redux boilerplate https://github.com/erikras/react-redux-universal-hot-example. The input box appears and it is possible to select dates but the styling does not load at all. I have tried the canusedom approach from https://github.com/Hacker0x01/react-datepicker/issues/137 but the most it does is not give the "document is n

[2015-09-28 17:29] mskeving commented on #184
Thanks for the clarification. I think I have everything set up correctly, though I'm still getting that error 'this._date.locale is not a function.'

this is what my code looks like using coffeescript:

[code]

I have also attached a screenshot of what my browser is displaying. You can see from the console that I do have moment available. The errors come up when I click on the date picker. I imagi

[2015-09-29 11:05] tom-james-watson commented on #118
There's still no code examples, i.e. what props are expected etc.

[2015-09-29 14:14] bmcneely commented on #134
As a related question, is there anything in React 0.14 that breaks this component? Just looking at what versions of React it allows in the package.json and wondering why. Regardless, it probably shouldn't allow versions below 0.13 if the error that @raorao mentioned is occurring on those versions.

[2015-09-29 14:15] martijnrusschen commented on #134
I haven't tried it yet, but I'm happy to merge a PR that ups the React version :)

[2015-09-30 13:04] sjcrank commented on #136
I have a similar issue, here is an example:
[index.js | uploaded via ZenHub](https://files.zenhub.io/560bddf4d7a4f68e2d4f0bff)

[2015-10-01 07:43] #182 closed

[2015-10-01 12:24] agorkem opened #195 "Showing only available days"
There is `excludeDates` property for listing excluded dates but I need to show only available days. I need something like that:

[code]

Is there any better way to do that with **current** props? If there is no I think it's easy to add this feature.

[2015-10-01 12:27] martijnrusschen commented on #195
Does a date range work for you? http://hacker0x01.github.io/react-datepicker/ has an example that only enables a specific date range. If not, it should be able to build something that fits your needs eaisly. The only problem is that I don't have the time to build it in the next few weeks, so if you can submit a pull request, I'm happy to review it.

[2015-10-01 15:55] #186 closed

[2015-10-01 17:46] blackjk3 commented on #160
We are also experiencing the same behavior.  @benrlodge were you thinking about submitting a PR? Otherwise, we could look into it at well.

[2015-10-01 21:23] liamhubers opened #196 "Conflict with locale"
When I use locale in for DatePicker the Moment.js I use elsewhere in my application will return wrong results. Before I click on the DatePicker ```new Moment().week()``` will return 40 but after I opened the DatePicker ```new Moment().week()``` will return 39.

I've narrowed this down to ```week: {
        dow: this.props.weekStart
      },``` in the ```initializeMomentLocale``` function in the Ca

[2015-10-02 01:27] jnarowski commented on #171
What's the status on this pull request. I'd also like the input to be editable by users, since sometimes they are changing the year and that requires a lot of clicking otherwise.

[2015-10-03 12:51] benrlodge commented on #160
@blackjk3 this was just for a personal project so I haven't revisited it, likely won't in the future.

[2015-10-04 18:43] stevenleeg commented on #136
I'm having this issue as well (with a similar example as @sjcrank's). Any ideas as to what's going wrong?

[2015-10-05 10:46] sjcrank commented on #136
I discovered the cause of my problem: I was including React.js in my index.html (not through browserify), but importing react-datepicker via browserify. Since react-datepicker has a react dependency, react was added in node_modules. Thus, I had 2 conflicting Reacts which causes this error message.

[2015-10-05 13:56] liamhubers commented on #196
Fixed the issue, had to use moment.isoWeek() instead of moment.week() and now the weeknumbers are consistent before and after using the datepicker.

[2015-10-05 13:56] #196 closed

[2015-10-05 13:57] martijnrusschen commented on #196
Thanks for clarifying!

[2015-10-05 18:52] stevenleeg commented on #136
op, I was doing the exact same thing. that's probably it then. thanks @sjcrank!

[2015-10-09 07:58] arnaudbenard opened #198 "Peer dependencies for React 0.14"
Hi,

I have updated my app to React 0.14 and I get a `peerDependencies` error. I have tried running `react-datepicker` with React 0.14 and it works fine except for some warnings. Do you need help to update the package to work with the new React 0.14 api?

Most of the warnings are related to `react-dom`:

[code]

Cheers,
Arnaud

[2015-10-09 08:02] martijnrusschen commented on #198
Would be awesome if you could create a PR to upgrade React!

[2015-10-09 08:04] arnaudbenard commented on #198
Sounds good, I will do that ;)

[2015-10-09 08:36] arnaudbenard commented on #198
@martijnrusschen done!

[2015-10-09 08:57] arnaudbenard commented on #198
Let me know when you bump up the version number ;)

[2015-10-09 09:47] martijnrusschen commented on #198
I released a few minor versions to get this working, but it looks like we're still depending on React. things in https://github.com/Pomax/react-onclickoutside. We need to figure out what's wrong here, but I have no time left anymore for today. Would be awesome if you had some time today to look into this.

[2015-10-09 13:54] cubbuk opened #200 "Uncaught ReferenceError: ReactDOM is not defined"
I am using last version of react v 0.14. I tried to use react-datepicker in my project but I got the following error when I click on date picker.
`Uncaught ReferenceError: ReactDOM is not defined`

Also the datepicker's style does not look proper. What could be done to solve this problem?
Thanks

[2015-10-09 14:56] martijnrusschen commented on #200
Yes this is an error introduced in #198. I released a few minor versions to get this working, but it looks like we're still depending on `React.` things in https://github.com/Pomax/react-onclickoutside. We need to figure out what's wrong here, but I have no time left anymore for today. Would be awesome if you had some time today to look into this.

[2015-10-10 19:27] rafeememon opened #201 "Clear button should not trigger navigation"
I believe this was caused by #191.  When the clear button is clicked, the browser navigates to '#', which can break pages that depend on hashes for navigation.

[2015-10-12 08:46] jenskanis opened #203 "Calendar displays the dates in US format, but with EU column headings"
From a customer on our platform:

 displays the dates in US format, but with EU column headings. Ex: Sun, Oct 11th shows as Mon, Oct 11th. See screenshot.

[2015-10-12 12:57] arnars commented on #187
Or if `this.state.date: null` I get the following error:
`Warning: Failed propType: Required prop `selected` was not specified in `Calendar`. Check the render method of `DatePicker`.`

This is when trying not to show date by default, but actually show the placeholderText.

[2015-10-12 14:02] thiagoc7 opened #204 "error on 0.14.2"
Hi, I'm having this error:

<img width="1265" alt="screen shot 2015-10-12 at 11 04 00 am" src="https://cloud.githubusercontent.com/assets/6671184/10429725/0849b354-70d1-11e5-9acb-4acecd0622fe.png">

Thanks!

[2015-10-12 15:08] mwanji commented on #204
I have a similar error since moving to React 0.14

[2015-10-12 19:32] gsheppard commented on #156
Is there any update regarding this?

[2015-10-13 08:00] martijnrusschen commented on #204
Yup, looks like the dependencies aren't ready for 0.14 yet. I need to figure out what's going wrong but not sure when I have time to investigate this.

[2015-10-13 12:28] SpaceMacGyver commented on #204
The issue appears to be present on the examples page as well:

![image](https://cloud.githubusercontent.com/assets/2105094/10454617/9090face-717b-11e5-8270-a7e00b806432.png)

Currently, the examples do not work (clicking on date inputs does not cause the datepicker component to appear).

[2015-10-13 13:06] #201 closed

[2015-10-13 15:23] yaycmyk opened #205 "Add refs to your composite elements"
You have a nice network of refs set up within each composite, but no way to access the composite itself from outside the tree.

For example, if I wanted to focus the input I can't. It would be nice to be able to do this:

`React.findDOMNode(this.refs.datepicker.refs.dateinput.refs.input).focus()`

A little ugly, definitely. But if you decide to change classes or the type of element being rendered

[2015-10-13 15:28] gsheppard commented on #205
Second this.

[2015-10-13 18:44] mydudechris commented on #173
Bump

[2015-10-14 19:43] mydudechris opened #206 "Add tabIndex to the list of properties"
Would it be possible to add a tabindex attr to the list of configurable props?

[2015-10-15 07:06] macha3162 opened #207 "Rails4.2.4を試す"
バージョンアップ。

[2015-10-15 07:06] #207 closed

[2015-10-15 14:50] mydudechris commented on #206
I tried adding tabIndex to the list of props in the react-datepicker.jsx input render call to no avail. Couldn't get the property to show up anywhere.

[2015-10-15 16:54] sujaykathrotia commented on #179
This issue is resolved now. Please check the merged PR where this issue was referenced.

[2015-10-15 17:00] #179 closed

[2015-10-16 17:37] tquetano-r7 opened #208 "Multiple instances of React"
I tried loading the latest version and I am getting an error along these lines:

Warning: React can't find the root component node for data-reactid value `.1.2`. If you're seeing this message, it probably means that you've loaded two copies of React on the page. At this time, only a single copy of React can be loaded at a time.

I am still using React 0.13.3, so not sure if that contrubites, howev

[2015-10-16 17:58] martijnrusschen commented on #208
Yes this is an issue with the latests version of the datepicker. You can use version 0.13.0.

[2015-10-16 17:58] martijnrusschen commented on #204
Yes this is an issue with the latests version of the datepicker. You can use version 0.13.0.

[2015-10-16 17:58] trueter commented on #204
Does 0.13.0 work with React 0.14 though?

[2015-10-16 18:32] thiagoc7 commented on #204
you may have same issues with webpack when using two versions of react...
https://medium.com/@dan_abramov/two-weird-tricks-that-fix-react-7cf9bbdef375

2015-10-16 14:59 GMT-03:00 Torsten Rü <notifications@github.com>:

[2015-10-16 18:44] martijnrusschen commented on #204
That might be it! I'll try that in our example app.
On vr 16 okt. 2015 at 20:32 Thiago <notifications@github.com> wrote:

[2015-10-16 19:05] sujaykathrotia commented on #137
Fixed.

[2015-10-18 12:09] williamcoates commented on #187
If anyone else bumps into this issue, seems like a workaround is to initially set `selected` to empty string.

[2015-10-19 14:22] sergeynechaev commented on #170
It seems that moment() locale overrides the DatePicker settings. I've got correct month names only after setting:
moment.locale('ru');
before the <DatePicker ... />

Also for correct weekday names I have to explicit set right names as props:
<DatePicker key={1} dateFormat="YYYY-MM-DD"
                                 locale="ru"
                                 weekdays={['Вс', 'Пн', 'Вт', 'Ср', '

[2015-10-19 15:46] KeitIG commented on #204
hi !

Any news on this ?

[2015-10-19 23:26] creativej commented on #156
What's the status of this issue? It's such a basic form UX, would love to see tab working.

[2015-10-20 04:11] comoon opened #209 "valid date range is not in the initial view"
1, don't pass selected
2, pass min date one year later
3, pass max date after min date

Then: If I don't know the valid date range, I can't select a date.

[2015-10-20 12:19] andyparisi commented on #171
Also this. Can we get some movement on this PR? Otherwise i'll be forced to switch libraries.

[2015-10-20 13:02] martijnrusschen commented on #171
Happy to merge it once the questions has been answered.

[2015-10-20 13:04] andyparisi commented on #171
Thanks for the quick reply. I'll be keeping an eye out on the thread.

[2015-10-20 13:17] martijnrusschen commented on #156
No update yet. It would be awesome if someone could help here with providing a pull request.

[2015-10-26 13:50] KeitIG commented on #204
Looks like the classic problem with react 0.14, refs node are now only accessible by `this.refs.reference` and not `ReactDOM.findDOMNode(this.refs.reference)`.

Are you open to a PR @martijnrusschen or do you think you can fix that soon ?

[2015-10-26 13:54] martijnrusschen commented on #204
Please submit a PR

On Mon, Oct 26, 2015 at 2:50 PM Pierre de la Martinière <
notifications@github.com> wrote:

[2015-10-27 07:48] PanJ commented on #198
@martijnrusschen your PR on https://github.com/Pomax/react-onclickoutside have been merged. I think you can reference the main repository instead. I'm trying to make it work on react 0.14.

[2015-10-27 17:18] martijnrusschen commented on #208
Version 0.14.5 should fix this issue.

[2015-10-27 17:20] martijnrusschen commented on #204
Version 0.14.5 should fix this issue.

[2015-10-27 17:20] martijnrusschen commented on #198
Version 0.14.5 should fix this issue.

[2015-10-27 21:38] KeitIG commented on #204
Working well. Thanks !

[2015-10-27 21:43] #204 closed

[2015-10-28 11:35] eversadia commented on #194
+1

[2015-10-29 13:50] #208 closed

[2015-10-29 13:50] #198 closed

[2015-10-29 20:53] jasongonzales23 commented on #194
Seeing the same issue. Using React 0.14.0 and 0.15.1 of the datepicker.

[2015-10-29 21:01] jasongonzales23 commented on #194
Also, this appears to have nothing to do with HMR. I am using redux, but it shouldn't matter since I am just trying to init a basic version of the component with hardcoded values.

Switching to Zippy UI for now until you get this resolved.

[2015-10-29 21:05] jasongonzales23 commented on #194
Oh holy wow. Here's the fix. Add this:

`require('react-datepicker/dist/react-datepicker.css')`

Why is this not in the documentation!!!

[2015-10-29 21:15] martijnrusschen commented on #194
Oh that might be an oversight from our side! Sorry about that.. Would be
awesome if someone could contribute to the documentation with their
experiences.
On do 29 okt. 2015 at 22:05 Jason <notifications@github.com> wrote:

[2015-10-29 21:28] jasongonzales23 commented on #194
Happy to add to the docs, will squeeze it in here in a sec, but now noticing another bug. The datepicker stays display: none right now. I can manipulate in the dev console and then it works until page refresh.

Will create a new issue for this.

[2015-10-29 21:35] jasongonzales23 opened #216 "Datepicker stays display: none"
The datepicker stays display: none when focusing on the input. I can manipulate to display:block in the dev console and then it works until page refresh.

Using 0.15.1 with react 0.14.0

[2015-10-29 21:36] rafeememon opened #217 "Days are always inRange"
The Day component currently checks `inRange` by checking the `inRange` attribute on the date, which is a function and always truthy.  It should read it from the prop passed into it by the `Calendar` component.

(caused by #212)

[2015-10-29 21:38] jasongonzales23 commented on #216
Closing this, this is a bug in my CSS.

[2015-10-29 21:38] #216 closed

[2015-10-30 08:50] #217 closed

[2015-10-30 11:03] #200 closed

[2015-10-30 11:03] martijnrusschen commented on #200
This has been fixed in the latest release.

[2015-10-30 19:45] shortstuffsushi commented on #136
Hi guys,

I'm seeing this issue as well, and don't really know enough about React to understand where I'm going wrong. I'm including the `DatePicker` inside another component, just inside its `render` block boiling down to effectively this --

[code]

 * I'm not including React or Moment externally, they're both browserify'd
 * I've used this.props.date, this.state.date, and an arbitrary local dat

[2015-10-30 21:35] shortstuffsushi commented on #136
Hmm, I have no idea what's changed, but after uninstalling and reinstalling all of my modules (playing around w/ various date picker modules, decided to just dump the node_modules folder), it is now working.

[2015-10-31 13:03] morgante commented on #126
I'm able to reproduce this using these options:

[code]

Initially, the calendar appears fine. But once I select a date (ex. November 1), it appears [incorrectly](https://www.evernote.com/l/AAGPgNpfnJlCR4f3orKWNur0FhnaTcfL3FM), with November 1 occurring on a Monday.

[2015-11-02 18:13] dave-handy commented on #171
What questions still need to be answered?

[2015-11-03 02:51] wang3g opened #221 "How to hide virtual keyboard on mobile device?"
I am using react-datepicker in my web page and it works well on desktop browser. However, when I open the webpage on the mobile phone or iPad and click the date input area, Android's or iOS's own virtual keyboard pops up,which blocks a part of calendar. How can I hide those virtual keyboards? Thanks!

[2015-11-05 12:28] GalacticWeb commented on #160
+1 !!!

[2015-11-05 12:29] GalacticWeb commented on #126
+1 !

[2015-11-05 13:02] formigone opened #222 "Apply CSS class to datepicker__input-container"
I need to float the input to the left. So I'm trying

[code]

But the above generates the following - unfloated DOM:

[code]

How can I apply my ```w-fleft``` class to that wrapper container?

I don't want to create a CSS rule to float ```.datepicker__input-container``` because not all instances will be floated.

[2015-11-05 15:49] Thomsos commented on #205
I would love this feature as well.

[2015-11-05 15:57] Thomsos commented on #205
I just figured out a way to focus the input box.

Give the DatePicker a ref, like so:
< DatePicker ref="datePicker"/ >

Then somewhere call:
this.refs.datePicker.handleFocus();

[2015-11-05 23:20] cnardi-git commented on #167
Solution does not work for me.  I tried setting the date value in state to null, but now I can't select a date without getting the error:  TypeError: t.format is not a function

Also, the popover won't close.

this.state = {
   startDate: null
};

<DatePicker selected={this.state.startDate} />

Overall, I would say this implementation is not worthy of 250+ stars... can't even have a 'blank' input

[2015-11-05 23:28] cnardi-git commented on #187
^ This does not work for me. I set the initial state of the date to null, and called it on the selected prop, just in the example above, but when I select a date from the calendar I get this repeated console error:

Uncaught TypeError: t.format is not a function

This prevents the calendar popover from closing.  However, the date value is set into the components state.

[2015-11-06 14:16] theSmaw opened #225 "Unable to associate the text input with a label"
It is not currently possible to provide a label for the text input created by react-datepicker, as an id attribute cannot be added to the input.

[2015-11-06 15:52] edshadi commented on #126
@morgante thanks for reproducing this, I'm not using min/maxDate anymore so I've moved passed this issue. The issue you're having is the same as this original one for sure.

[2015-11-07 19:54] janimattiellonen opened #226 "Function bound to onChange receives wrong date"
When I select 2015-11-01 the function bound to onChange event gives me "2015-10-31T22:00:00.000Z".

Code used:

	<DatePicker
	    selected={this.state.startedReading}
	    dateFormat="DD.MM.YYYY"
	    onChange={::this.handleStartedReadingChange}
	/>

I'm using 0.15.2.

[2015-11-08 11:19] martijnrusschen commented on #225
Should be fixed now!

[2015-11-08 11:19] #225 closed

[2015-11-08 11:20] martijnrusschen commented on #222
What about wrapping the container in a wrapper? I know this sounds a bit odd, but that prevents adding extra functionality.

[2015-11-08 11:21] martijnrusschen commented on #206
I'll take a look next week. Let me know if you have found anything in the mean time.

[2015-11-08 11:22] martijnrusschen commented on #205
Does that resolve your issues? Otherwise, I'll be happy to merge a PR if someone could add some refs.

[2015-11-08 11:22] martijnrusschen commented on #194
Thanks!

[2015-11-08 11:22] #194 closed

[2015-11-08 11:24] martijnrusschen commented on #192
Yep duplicate of #187

[2015-11-08 11:24] #192 closed

[2015-11-08 11:25] #157 closed

[2015-11-08 11:26] #136 closed

[2015-11-08 11:26] martijnrusschen commented on #136
Looks like this issue has been fixed. Let me know if there's any help needed.

[2015-11-08 11:26] martijnrusschen commented on #134
This works with 0.14 now.

[2015-11-08 11:26] #134 closed

[2015-11-08 11:27] #137 closed

[2015-11-08 11:27] #132 closed

[2015-11-08 11:28] martijnrusschen commented on #155
Documentation has been update a while ago. Let me know if you need anything else.

[2015-11-08 11:28] #155 closed

[2015-11-08 11:29] martijnrusschen commented on #169
Documentation has been updated a while ago. Let me know if you need anything else.

[2015-11-08 11:29] #169 closed

[2015-11-08 11:30] martijnrusschen commented on #18
Not a priority right now

[2015-11-08 11:30] #18 closed

[2015-11-08 11:31] martijnrusschen commented on #158
Is this still happening. We made some changes around the virtualFocus element. Curious if this solved your issues too.

[2015-11-08 11:49] martijnrusschen commented on #119
I believe this should be added on the fly while we're adding new functionality.

[2015-11-08 11:49] #119 closed

[2015-11-08 19:20] theSmaw commented on #225
Super, thanks!

[2015-11-09 01:58] ntdb commented on #158
Ping @thenickcox: if you get the chance, please update this library to latest and report back. Thanks. :)

[2015-11-09 21:28] Thomsos commented on #205
It does for me.

[2015-11-09 21:32] yaycmyk commented on #205
@Thomsos your solution definitely works, but doesn't address the issue that we shouldn't be touching the internals of @martijnrusschen's components.

Still think it would be a good idea to add some refs. Will send a PR later on

[2015-11-10 14:37] mhubenthal opened #227 "react-datepicker 0.14.0 and up will not support below React 13"
The package.json needs to be updated to depend on React 0.13.0 and up for react-datepicker 0.14.0 and up. react-datepicker 0.14.0 and up uses "findDOMNode" which is introduced in React 0.13.0 and up.

[2015-11-10 14:45] martijnrusschen commented on #227
The package already requires 0.14 or higher. What do we need to change?

[2015-11-10 15:10] mhubenthal commented on #227
@martijnrusschen sorry, I should have been more specific...we're trying to use an older version of react-datepicker (we haven't made the jump to React 0.14.0 yet). Older versions of react-datepicker specify ```"react": ">=0.12 <0.14"```, but I think they should specify ```"react": ">=0.13 <0.14"```.

[2015-11-10 15:17] martijnrusschen commented on #227
Correct. React 0.14 includes some breaking changes. I think the best solution for now would be checking out on an old commit before the change to React 0.14. (see https://facebook.github.io/react/blog/2015/10/07/react-v0.14.html)

[2015-11-10 15:21] mhubenthal commented on #227
@martijnrusschen thanks for the help. React-datepicker v0.6.2 is the most recent version that will work with pre 0.13.0 React, FYI.

[2015-11-10 17:41] ryanwilsonperkin opened #229 "'disabled' prop is not listed in propTypes"
Looks like DateInput allows you to pass in a `disabled` prop to disable the input, but it's not mentioned in `propTypes`.

[2015-11-10 20:50] ryanwilsonperkin commented on #226
Sounds like this is likely an issue with confusion between UTC and local time. `onChange` sends back a [momentJS](momentjs.com) object. I suspect you're doing something like

[code]

If so, you can achieve the result you want by first casting to UTC like so:
[code]

[2015-11-11 05:14] janimattiellonen commented on #226
Thanks! Sounds reasonable. I'll try that.

[2015-11-11 10:01] #229 closed

[2015-11-11 13:33] martijnrusschen commented on #227
Okay, I'll add that info to the Readme

[2015-11-11 18:14] janimattiellonen commented on #226
Probably my code by the first time I select a date, the handler gives me the day before. If I select again, a correct date is given.

[2015-11-11 18:42] ryanwilsonperkin commented on #226
Can you post a snippet of your code that's interacting with the datepicker?

[2015-11-11 19:23] janimattiellonen commented on #226
I stripped the code from unrelated stuff. With this code I still get the weird functionality.

[code]

[2015-11-11 19:25] janimattiellonen commented on #226
If I remove shouldComponentUpdate(), I get "t.format is not a function"

[2015-11-11 19:36] ryanwilsonperkin commented on #226
I suspect this is because you're storing `finishedReading` in your state as a string, rather than a `moment` object, which is what `DatePicker` expects for the `selected` prop. Do you still have the issue if you change your function to:

[code]

[2015-11-11 19:41] #205 closed

[2015-11-11 19:57] janimattiellonen commented on #226
Even if I remove the call to setState(), I still get the same.

[2015-11-11 20:02] janimattiellonen commented on #226
If I remove "onChange={this.handleFinishedReadingChange}" then the date is as expected.

[2015-11-11 20:19] ryanwilsonperkin commented on #226
If you remove the `onChange` event handler, then you are basically allowing the datepicker to simply render it's internal state, ie an [uncontrolled component](https://facebook.github.io/react/docs/forms.html#uncontrolled-components). The date is as expected because the datepicker is handling the moment dates properly internally.

Your `shouldComponentUpdate` is only updating this component when t

[2015-11-11 20:32] tomdev commented on #226
+1 @ryanwilsonperkin for helping each other out

[2015-11-13 16:27] KeitIG commented on #167
same problem as @cnardi-git

[2015-11-16 11:33] KeitIG commented on #90
Any news on this ? :)

[2015-11-16 21:59] jnarowski commented on #171
+1

[2015-11-17 07:52] RSO commented on #90
@KeitIG what do you think about the proposed solution? Would that fit your need? Or do you think we should build this in a different way. As always, you're free to create a PR with the proposed changes.

[2015-11-17 08:31] KeitIG commented on #90
Hi @RSO. Yes, the above solution is what we see in almost every calendar plugins. I currently have no time for this due to a lot of work, I'll see if I can work on it this week-end. The only thing really stopping me is "how to simulate an infinite years list ? Should a lazy loading be done ?

[2015-11-17 08:42] hellokitty111 opened #233 "Can not choose year or month?"
now, we can only choose month or year by clicking the arrow.if we want to choose 1990, we can only input 1990-01-01?

[2015-11-17 09:47] ntdb commented on #158
I'm experiencing this out of the box with 0.15.2 and React 0.14.2... but without an onBlur this time. I'll try to track it down.

[2015-11-17 10:41] bjpbakker commented on #158
This bug also shows up in the onBlur example: https://hacker0x01.github.io/react-datepicker/#example-9

[2015-11-17 15:06] KeitIG commented on #233
see #90 for year selection.

[2015-11-17 15:09] KeitIG commented on #90
useful ref http://zippyui.com/react-date-picker/

[2015-11-18 22:04] tquetano-r7 opened #234 "New release of react-onclickoutside breaks datepicker"
react-onclickoutside just released 4.2.0 sometime earlier today, and it appears to be a bug there (the error is "root is not defined", and since react-datepicker relies on compatible versions of 4.0.1, you may want to do something like >=4.0.1 <4.2.0 until the bug there is fixed.

[2015-11-19 13:40] uniphil commented on #234
This was just fixed in 4.3.0: https://github.com/Pomax/react-onclickoutside/issues/51

Should we switch the dependency back to a `^` range on `4`, or another range that still specifically excludes `4.2.0`?

[2015-11-19 13:41] martijnrusschen commented on #234
SGTM

On Thu, Nov 19, 2015 at 2:40 PM phil <notifications@github.com> wrote:

[2015-11-19 13:48] uniphil commented on #234
Cool, revert in a PR at #236

[2015-11-19 13:53] martijnrusschen commented on #234
merged

[2015-11-19 13:53] #234 closed

[2015-11-19 13:57] uniphil commented on #234
thanks!

[2015-11-19 17:17] shackbarth opened #237 "consider removing the carat from your dependencies"
At the moment this package is breaking my Babel6/Browserify build, because of a bug in
https://github.com/Pomax/react-onclickoutside
which has been fixed in github but which nevertheless won't be available until Pamax publishes 4.4.0 to npm.

I'd prefer not to worry about Pomax's npm publishing schedule. If you'd locked your dependency with `--save-exact` or the like, your package -- and by extens

[2015-11-19 18:39] ntdb commented on #237
+1

[2015-11-19 23:50] angelinacc opened #238 "Uncaught Error: Cannot find module '[object Object]' after reinstalling package"
So I removed react-datepicker package to reinstall it again today. However, I am now getting this error:

Uncaught Error: Cannot find module '[object Object]'

and also noticed that moment is missing from node_modules under this package, not exactly sure why and wanted some insight. It was working before until I removed it.

This is my dependencies in my package.json:
    "react": "0.14.2",
    "r

[2015-11-20 00:39] kirev commented on #238
you need to add this "react-onclickoutside":"4.1.1" it's seems the component has another version that is the problem

"react": "0.14.2",
"react-dom": "0.14.2",
"react-datepicker": "0.15.2",
"moment": "2.10.6",
"react-onclickoutside":"4.1.1"

let me know

[2015-11-20 08:36] strivek commented on #170
you should download` zh-cn.js` from `moment.js` and   reuqire it  ,  then  set
[code]
and set  DatePicker locale
[code]
in react-datepicker.js

[2015-11-20 13:36] martijnrusschen commented on #238
I downgraded react-onclickoutside to make sure it doesn't fail anymore.

[2015-11-20 13:43] #171 closed

[2015-11-20 13:43] martijnrusschen commented on #171
Fixed by #171

[2015-11-20 13:43] martijnrusschen commented on #237
Pinned the version again. Should resolve the issue

[2015-11-20 13:43] #237 closed

[2015-11-20 13:48] #227 closed

[2015-11-20 16:04] shackbarth commented on #237
Great, thanks! But please consider not readopting the carat as soon as `react-onclickoutside` is fixed on npm. There's nothing I like better than knowing that my build is going to work tomorrow as well as it works today if I don't mess anything up.

[2015-11-20 16:06] martijnrusschen commented on #237
Same here, I'll make sure this double checked next time. Looks like react-onclickoutside upgraded to babel6 and might cause some issues here.

[2015-11-23 11:09] gl-kunalgupta commented on #160
+1

[2015-11-23 20:27] ntdb commented on #158
Working on tracking this down. The problem seems to be with [this code](https://github.com/Hacker0x01/react-datepicker/blob/master/src/datepicker.jsx#L67-L76). Is there a case where `virtualFocus` is set back to `true` during that 200ms timeout?

[2015-11-23 20:30] jeannei commented on #187
@williamcoates solution worked for me.

I was getting the error "Cannot read property 'clone' of undefined." I set the initial state to  <code>{date: null} </code>, and set the prop <code>selected={this.state.date}</code> and in the <code>onChange</code> callback updated date <code>   this.setState({date: date}) </code>

[2015-11-23 20:55] ntdb commented on #158
Ping @at0g. Any thoughts on what's happening here? [The original implementation of `handleBlur`, for reference](https://github.com/Hacker0x01/react-datepicker/commit/99643b9da343c223a4fcd9610505aa5d349c8a1f#diff-f662ae56197d5c888897a02b982f0ad3).

It appears that `onBlur` is fired by the input when clicking on the popover (tested in FF, Safari, Chrome). This seems like a pretty fundamental problem

[2015-11-24 10:13] xabikos opened #240 "Provided id is not rendered on the input element"
When using the datepicker I am passing an id and after diving into the code it should rendered in the underlying input component something that is not happening.
[Here](http://1drv.ms/1kReSzS) is a simple example that demonstrates that. The code is simple and I can't see why this happening.

[2015-11-28 19:48] janimattiellonen commented on #226
Apparently setting a proper utc value in constructor "fixed" this. However, I don't want to use a default date.

[2015-11-30 09:15] jayachathu opened #241 "Other react element functionalities breaks after click on calendar input"
Hi,
I added this react date picker.So when i clicked on the calendar input it opens calendar pop up .After that when the calendar pop is closed, whole page is not functined.All the functionalities are broken.What should i do

[2015-11-30 15:29] ryanwilsonperkin commented on #226
@janimattiellonen what happens if you initially pass in `null` as the value for the `selected` prop?

[2015-12-01 06:51] guocheng opened #242 "How to retrieve the name of the Datepicker?"
I have two data pickers in my app. One for start date and one for end date. I wrote like this:

[code]

What I noticed in the onChange and the onBlur callback is that a **Moment** object is returned instead of an **event object**.  So how am I suppose to do something like this:

[code]

Thanks.

[2015-12-01 07:19] rafeememon commented on #242
Probably the easiest thing to do would be to have two different callbacks with different logic, maybe called `handleStartDateChange` and `handleEndDateChange`.

[2015-12-01 08:15] guocheng commented on #242
@rafeememon thanks. That's what I am doing atm. I thought there might be a more elegant solution.

[2015-12-02 02:38] #242 closed

[2015-12-03 00:40] angelinacc commented on #238
Looks like the issue is resolved, thanks guys.

[2015-12-03 00:40] #238 closed

[2015-12-03 13:31] comoon commented on #209
Sometimes the user is so lazy that if a default date is set, he(she) will never check whether the value is correct or not, and you have to leave the field empty. But in this case, if the valid date range is very later than now, he(she) will never find the valid.

[2015-12-06 06:17] arahansen opened #245 "npm start is not a valid script"
The readme mentions using `npm start` to run an example application. But this is not a valid script command within the project directory.

`npm start` is available for the gh-pages branch. But not for the master branch. Can the start command be added to the master branch? If not, then maybe the readme should be updated to clarify usage of `npm start`?

[2015-12-07 11:13] timukasr commented on #195
I have a similar request: I want to whitelist/disable dates by a function. `excludeDates` or some other prop could accept a function, which takes a Date object as argument and returns true/false to enable/disable a date.

One use case is to disable all weekends. Currently I don't see a good solution (besides generating very large `excludeDates` array and hoping users don't navigate too far away).

[2015-12-07 12:38] martijnrusschen commented on #233
Duplicate of #90

[2015-12-07 12:38] #233 closed

[2015-12-07 12:38] martijnrusschen commented on #195
We could consider something like https://www.npmjs.com/package/moment-business to detect weekends?

[2015-12-07 13:46] timukasr commented on #195
Detecting weekends is not the main point here. It's more like "disable/enable days based on a recurring rule". If we have `minDate` and `maxDate`, we could generate all the days and use the current `excludeDate` prop. But with infinite range we cannot use this approach.

Weekends was just one example. My current problem is to "disable all the weekends and national holidays". Hardcoding this to rea

[2015-12-09 01:14] tiffting commented on #240
I'm having a problem with this, too. This bug prevents me from associating a `<label>` with the datepicker for a11y.

[2015-12-09 10:57] xabikos opened #249 "Prevent typing characters when component is loaded"
A nice addition would be to prevent users of entering alphabetical characters when the component is loaded. So the only allowed characters should be numbers and slash /.

[2015-12-09 10:59] xabikos opened #250 "Be able to change the date by typing"
Once a selection has be done it can only change by clicking the component and select another date. A nice addition which is related to #249 is to allow changing the selected from the keyboard.

[2015-12-09 17:57] martijnrusschen opened #252 "test slack integration"
Hi @reedloden

[2015-12-09 17:57] martijnrusschen commented on #252
Works!

[2015-12-09 17:57] #252 closed

[2015-12-09 18:18] martijnrusschen opened #253 "Run Sauce Labs on Master branch"
I removed Sauce Labs from the repo because it was breaking on external Pull Requests (those PR's didn't have the right creds for SL). However, it would be really cool if we could run the SL specs on the master branch instead. This way, we're sure a PR runs the karma specs and can we run a additional SL karma run on Master.

[2015-12-10 10:25] #158 closed

[2015-12-10 16:00] martijnrusschen commented on #195
I merged a new feature today that introduces includeDates. I guess that fixes this problem too. Likely to release this new feature tomorrow in a full packed release.

[2015-12-10 20:14] martijnrusschen commented on #195
Fixed by #247

[2015-12-10 20:14] #195 closed

[2015-12-11 00:25] tomhirschfeld commented on #161
+1 here, having the issue in IE.

[2015-12-11 09:24] martijnrusschen commented on #241
What browser are you running, and can you did you notice any errors in your console?

[2015-12-11 14:59] martijnrusschen commented on #245
We've updated the docs. This should be more clear now. (btw, `npm start` is a valid command now)

[2015-12-11 14:59] #245 closed

[2015-12-11 14:59] #90 closed

[2015-12-11 15:19] martijnrusschen commented on #163
Removed Sauce Labs. Having a different ticket open for adding it back.

[2015-12-11 15:19] #163 closed

[2015-12-11 15:22] martijnrusschen commented on #240
Are you sure? I just tried to reproduce this, but it worked fine for me:

[code]

[2015-12-11 15:22] martijnrusschen commented on #170
Looks like the fix.

[2015-12-11 15:22] #170 closed

[2015-12-11 17:29] martijnrusschen commented on #240
Could you try to latest version (0.16.0), this should resolve your issue.

[2015-12-11 17:30] martijnrusschen commented on #193
Do you have a proof of concept of this?

[2015-12-11 19:28] strawbrary opened #255 "0.16.0 npm package missing dist files"
0.16.0 of this package on npm is missing the `dist` folder which is breaking the package. It looks like f99587e added `dist` to the `.gitignore` file, and since there is no `.npmignore` file, everything in `.gitignore` is also being ignored on npm.

[2015-12-11 19:30] martijnrusschen commented on #255
@RSO This is exactly what you were wondering about today. Looks like we need an `.npmignore`.

[2015-12-11 19:34] strawbrary commented on #255
Oh I just saw a `.npmignore` was added in efc1587 but I guess it doesn't work if it's not in the project root.

[2015-12-11 19:36] #255 closed

[2015-12-11 19:36] martijnrusschen commented on #255
Yeah looks like it, I moved it to the root now. Hopefully this fixes the issue.

[2015-12-11 19:37] martijnrusschen commented on #255
I'll release a patch version to fix this issue.

[2015-12-11 19:42] strawbrary commented on #255
Thanks.

Btw there is an npm package called [pkgfiles](https://www.npmjs.com/package/pkgfiles) which will show you a preview of what files will be published. Can be useful for getting some insight into npm's behavior.

[2015-12-11 19:44] RSO commented on #255
Hehe, that's what we get for making changes like this on a Friday afternoon. Sorry @strawbrary!

[2015-12-11 19:44] RSO commented on #255
And thanks for reporting!

[2015-12-11 19:47] strawbrary commented on #255
No worries, it's happened to the best of us. :) Thanks for the quick turnaround on the fix.

[2015-12-11 20:19] martijnrusschen commented on #255
Released 0.16.1 with the fix (https://github.com/Hacker0x01/react-datepicker/releases/tag/v0.16.1)

[2015-12-11 20:34] strawbrary commented on #255
Looks good :+1:

[2015-12-11 21:00] martijnrusschen commented on #255
Awesome!

[2015-12-12 07:45] martijnrusschen commented on #160
Did someone track down the cause of this issue? Would love to fix this.

[2015-12-12 07:46] #240 closed

[2015-12-12 08:04] martijnrusschen commented on #234
Merged a PR to updates this plugin to the latest version. Didn't see any problems here anymore.(https://github.com/Hacker0x01/react-datepicker/commit/1f88061db37c4a5050199b6d5a5bba850be19e8c)

[2015-12-12 08:06] martijnrusschen commented on #154
Not sure if it's worth the change. This is a breaking change for everyone using the Datepicker (and you can simply change to default if you want something else)

[2015-12-14 03:25] at0g opened #259 "TextInput does not validate minDate"
When `minDate` is set, a user can still manually enter a date in the past using the text input instead of the date chooser.

[2015-12-14 10:50] #154 closed

[2015-12-14 10:52] martijnrusschen commented on #206
So, to be clear. You want a tabIndex value on the input field?

[2015-12-14 10:55] martijnrusschen commented on #226
Did you guys resolve this issue?

[2015-12-14 10:56] janimattiellonen commented on #226
Sorry, no. I switched to jQuery datepicker :(

[2015-12-14 10:56] #226 closed

[2015-12-14 11:03] martijnrusschen commented on #226
I'm sorry that we couldn't help you.

[2015-12-14 11:03] janimattiellonen commented on #226
No problems. Thanks for your time.

[2015-12-14 11:11] #209 closed

[2015-12-14 11:11] #206 closed

[2015-12-14 11:28] martijnrusschen commented on #187
Just tried to reproduce this issue with the following code:
[code]

This example works fine for me and doesn't show an initial selected date. This allows me to select a date that will be saved in the state as `startDate`. I guess this is the best way to solve this issue.

Furthermore, I just discovered that the `<DatePicker placeholder="hi />` doesn't need a selected too :)

[2015-12-14 16:24] tiffting commented on #240
We could not successfully upgrade to 0.16.0, so this isn't a solution right now. Our project fails to find react-datepicker when we try to upgrade.

[2015-12-14 16:29] ge3kusa commented on #160
We use this in a few spots and one instance renders the dates correctly. The other wouldn't until I forced the start of the week to be Sunday by passing weekStart="0" as a param. It cleared up after that. I'm not calling that a solution but it might lead to one in the future. At the very least it got us past the issue.

[2015-12-14 16:32] martijnrusschen commented on #240
Please try 0.16.1. 0.16.0 contained some errors.

[2015-12-14 16:38] xabikos commented on #240
I just upgraded to 0.16.1 and I can see the id is populated correctly. Thanks a lot @martijnrusschen

[2015-12-14 16:41] martijnrusschen commented on #240
Awesome!

[2015-12-14 16:48] martijnrusschen commented on #193
Tried to reproduce this, but couldn't find the issue.

[2015-12-14 17:58] tiffting commented on #240
Same here. Thanks, @martijnrusschen!

[2015-12-15 09:10] #156 closed

[2015-12-15 11:15] rafeememon opened #262 "Clicking outside year dropdown should close menu"
When the year dropdown is open, the user must select a year to close the menu.  An improvement would be to close the menu when clicking on the calendar.

[2015-12-16 09:17] #262 closed

[2015-12-16 14:38] rafeememon commented on #193
I'm able to reproduce something with the picker at the bottom of the examples page.  Not sure if this is what @unkw had in mind:

<img width="898" alt="screen shot 2015-12-16 at 2 34 56 pm" src="https://cloud.githubusercontent.com/assets/1829450/11843608/5db60fb8-a402-11e5-910d-f8dc56452490.png">

[2015-12-16 14:47] rafeememon commented on #221
We might be able to add `readonly` to the `input`, as suggested here: http://stackoverflow.com/questions/7610758/prevent-iphone-default-keyboard-when-focusing-an-input  But this seems likely to break those who are using manual input.

[2015-12-16 14:50] rafeememon commented on #203
Probably the same issue as #160

[2015-12-16 15:37] martijnrusschen commented on #193
Ah yeah, noticed this as well. Need a little offset when we're showing the popover on top. Looks like it's positioning in the middle of the input now.

[2015-12-16 17:26] #193 closed

[2015-12-17 07:39] wzup opened #267 "Date Range doesn't work in Demo"
I want to select a date range, from ... to .... Like in hotel/tickets booking sites:

![687474703a2f2f692e696d6775722e636f6d2f4c62414d6633442e706e67](https://cloud.githubusercontent.com/assets/3880497/11864163/327db192-a4d5-11e5-9536-1a5ca4c19e52.png)

I check Demo http://hacker0x01.github.io/react-datepicker/#example-8 but it seems it doesn't work, does it? I'd like to see the mechanic. Or it onl

[2015-12-17 08:45] rafeememon commented on #267
Hey @wzup, thanks for reporting this.  It appears to be an issue with the date `inRange` calculation.  Making a fix now.

[2015-12-17 08:52] #267 closed

[2015-12-17 09:27] rafeememon commented on #267
Also working on an improvement to the example

[2015-12-17 15:47] PeyveAndrew opened #271 "Blur timeout bug"
Hi!

if parent component get destroyed, after datepicker lost focus, there is bug with timeouts (Warning: setState(...): Can only update a mounted or mounting component).

You need to clear timeouts in datepicker.jsx

[2015-12-18 14:27] mqklin commented on #120
@martijnrusschen, i want to prevent keypress typing, so i need a `onKeyPress` prop.

[2015-12-18 20:18] benmliang opened #272 "Clicking too fast when changing months or years on the date picker causes it to close"
I think it's because user clicked on non-Calendar area when the UI tries to change, and then turn off the Calendar. Is there any quick fix?

[2015-12-19 17:08] quborg commented on #175
any suggestions ?

[2015-12-19 20:57] Xurma2 opened #275 "How can I change the css in my browser?"
As soon as I translate the focus to the console. The window disappears.

[2015-12-20 16:05] martijnrusschen commented on #275
You can try setting focus on true for the time being. This should set the calendar open when loading the page. See https://github.com/Hacker0x01/react-datepicker/blob/master/src/datepicker.jsx#L44

[2015-12-21 13:00] matttti opened #276 "How can I set focus on the input element from the outside?"
I'd like to autofocus the input element and show the calendar once the DatePicker is rendered, in order to allow the user to select a date w/o forcing him to click on the input field first. Is there a way?

[2015-12-21 13:04] martijnrusschen commented on #276
I don't think that's possible right now. You could trigger a click with jQuery on page load, but that's a bit fragile. If you can work out something else, I'm happy to review it.

[2015-12-21 17:44] rafeememon opened #278 "Consider changing showYearDropdown default to false"
The year dropdown feature is great but was a large "UI break" to have it enabled by default.  I think we should consider changing it to be disabled by default to preserve the UI as it was before.  Let me know what you think!

[2015-12-21 17:48] martijnrusschen commented on #278
Agreed

[2015-12-22 12:27] kumarharsh opened #280 "Adding classes to the tether overlay"
I'm using Radium and trying to add custom styles to the datepicker. Thankfully I'm using webpack so bundling the css files within the code is a breeze. To add custom styles, I am using the `<Style>` [component](https://github.com/FormidableLabs/radium/tree/master/docs/api#style-component) of Radium, which injects a Style node within the component's DOM.

I am facing a problem regarding the targeti

[2015-12-22 20:36] Xurma2 commented on #275
Its not worked

[2015-12-22 20:41] Xurma2 opened #281 "Incorrect work from to"
![image](https://cloud.githubusercontent.com/assets/5157416/11965291/cc7c965e-a904-11e5-9ac3-0b4f51845776.png)

Specifically does not work you can see - image.
Every new click on the input there is a shift in the date of the month.
What can be wrong?

I used the code from your example.
My code:

[code]

[2015-12-23 04:28] aaronmgdr opened #283 "open calander via external component?"
Id like to have a little calendar icon next to the select box. When it is clicked id like the calender selection to open. If this was a custom component id just included the icon in it and add an onclick, or take an optional prop / children.

Is there a good way to do this with react-datepicker non hackily?

[2015-12-23 10:27] #278 closed

[2015-12-23 10:32] martijnrusschen commented on #272
Should be fixed with #273

[2015-12-23 10:32] #272 closed

[2015-12-23 10:34] martijnrusschen commented on #280
Hi @kumarharsh,

I had a hard time understanding what you wanted to achieve, but looks like you found it out. All styles are prefixed with `datepicker__ to scope it correctly according to BEM. (See https://github.com/Hacker0x01/react-datepicker/blob/master/src/stylesheets/datepicker.scss). Does this work for you?

[2015-12-23 10:36] martijnrusschen commented on #275
What about a custom trigger that triggers it `$('.datepicker__input').click()`

[2015-12-23 10:38] martijnrusschen commented on #283
Nice suggestion, I don't think we have any non-hacky ways to do this at this moment. How would you like to implement this. Any suggestions?

[2015-12-23 12:37] kumarharsh commented on #280
Ah, sorry for not being clear.

Basically what I am suggesting is that: would it be viable to add another propType to the datepicker which can add some user-defined class to the `datepicker` overlay?

[2015-12-23 13:52] martijnrusschen commented on #280
What's the class you want to style. Can you provide the current class the overlay has, and is there a reason we should allow custom classes for that overlay?

[2015-12-23 14:31] kumarharsh commented on #280
Right now, there are the classes applied on the Datepicker overlay:

`datepicker__container tether-element tether-enabled tether-abutted tether-abutted-left tether-element-attached-top tether-element-attached-left tether-target-attached-bottom tether-target-attached-left`

All of them are the ones supplied by `tether`, except for the `datepicker__container` which is specific to the picker.

I'm su

[2015-12-23 16:25] rafeememon commented on #283
I've been thinking about how this could work by having open/closed state managed by a prop rather than state.  Then the consumer has complete control over when it is open.  I'll experiment around with this.

[2015-12-23 16:28] fremn commented on #283
two ways I think could work are using optional children prop
[code]

or using an optional Icon prop

[code]

internally something like
[code]

[2015-12-23 17:58] martijnrusschen commented on #283
Yeah, opening/close via prop sounds a good idea.

[2015-12-23 18:18] fremn commented on #283
yep props sounds great to me.

[2016-01-05 09:54] psibi opened #286 "Implement external invoking of date in vendor-erp"
Once this is implemented: https://github.com/Hacker0x01/react-datepicker/issues/283

[2016-01-05 20:35] benmliang commented on #272
Thanks a lot :+1:

[2016-01-05 20:42] gaastonsr commented on #283
Why not add an open method to the component?

Also, is somebody working on this? I can make a PR.

[2016-01-05 21:36] martijnrusschen commented on #283
Would be great if you could kick this off!
On di 5 jan. 2016 at 21:42 Gaston Sanchez <notifications@github.com> wrote:

[2016-01-06 15:03] brandonfancher commented on #281
I'm having this same exact problem.

[2016-01-06 20:06] gaastonsr opened #287 "Release new version"
There are some good fixes on master. Would it be possible to make a release?

[2016-01-06 20:07] martijnrusschen commented on #287
Sure, I'll do a release tomorrow. Can you run on the master branch in the mean time?

[2016-01-06 20:29] gaastonsr commented on #287
I can :), thanks.

[2016-01-07 09:36] martijnrusschen commented on #287
Here you go https://github.com/Hacker0x01/react-datepicker/releases/tag/v0.18.0

[2016-01-07 14:21] gaastonsr commented on #287
Thank you!

Sent from my iPhone

[2016-01-07 14:21] #287 closed

[2016-01-07 16:54] rafeememon commented on #281
This might be fixed with v0.18.0, can you try it with that version?

Re: #287

[2016-01-07 17:21] smelnikov opened #289 "Allow a predicate to determine the disabled state of any given day"
Hello,

I have a requirement to only allow a user to pick certain days of the month (in my case just the first day of the month), I could use `includeDates` but that would require me to generate an array from the beginning of time to the end of time, so not exactly feasible (unless I wish to cap the date at some arbitrary range). Is there a way to do this which I have missed?

If not, I propose an

[2016-01-08 13:57] martijnrusschen commented on #250
Fixed by #285

[2016-01-08 13:57] #250 closed

[2016-01-08 16:00] RSO opened #290 "Remove DateUtil abstraction"
When we initially introduced the `DateUtil` we only used `moment` for a couple of minor tasks (looping over all days in the week for example). At that point I decided that the abstraction would help us get rid of `moment` as a dependency in the future.

Looking at the codebase now it is save to say that we have grown more dependent on moment than was initially expected, and therefor it is also tim

[2016-01-08 16:01] RSO commented on #290
(@rafeememon I'm assigning you since you mentioned you had a branch ready for this. Let me know if you can't work on this and I will happily take over)

[2016-01-08 16:05] RSO opened #291 "Improve documentation"
Our current documentation is basically a bunch of examples. Even though examples are great, I think that it would also be awesome to have some kind of API documentation (preferably generated).

Another thing I would love to try out would be to have some kind of playground (https://github.com/FormidableLabs/component-playground) where people who are interested can play around with the datepicker th

[2016-01-08 16:12] RSO commented on #283
I like the idea of having an optional icon in the input to open the calendar, I've seen this before in other places and it feels like good UX to have.

How do you see this work?

[2016-01-08 16:17] RSO commented on #275
I can see how this could be problematic. For now the easiest way I can see is to edit the CSS and then re-focus the input. That should work, right?

distant-future-thinking: It would be awesome to have some sort of stylesheet-playground, allowing for easy composition of your own stylesheets in the docs.

[2016-01-08 16:18] RSO commented on #276
Having a prop to autoFocus doesn't sound like a bad idea.

[2016-01-08 16:28] RSO commented on #271
Thanks! Sounds reasonable and easy to fix.

[2016-01-09 10:24] martijnrusschen commented on #291
Something like this could work https://github.com/jsdoc3/jsdoc

[2016-01-09 10:25] martijnrusschen commented on #291
Some more information http://blog.fusioncharts.com/2013/12/jsdoc-vs-yuidoc-vs-doxx-vs-docco-choosing-a-javascript-documentation-generator/

[2016-01-09 12:16] rafeememon opened #294 "Make Calendar component externally consumable"
The `Calendar` component is useful on its own if a consumer simply wants to display a calendar with selectable dates on a page.  I think it would be great if it was easy to import and consume only this component outside of the dropdown menu.  This can already be done to an extent, but to get to the ideal state I think a couple things need to happen:

1) _API_: The required `Calendar` props should

[2016-01-09 12:30] martijnrusschen opened #295 "Make it possible to support multiple themes"
One thing I would like to add is the support of themes. I'm not sure how we should integrate this, but it would be awesome if the user of the datepicker could choose between multiple themes/styles. Similar to https://github.com/zippyui/react-date-picker#theming

[2016-01-09 12:30] rafeememon opened #296 "Add CSS class for days not in current month"
The calendar shows days adjacent to the current month (end of previous month, beginning of next month), but they look the same as days in the current month.  We should add a class to days not in the current month (maybe `datepicker__day--outside-month`) and style them slightly differently so that they can be distinguished.

[2016-01-09 12:30] martijnrusschen commented on #295
We could debate if this should be part of an v1.0 or not.

[2016-01-09 15:02] martijnrusschen opened #297 "Code coverage change on PR"
Now we have code coverage tool in our webpack output, it would be awesome if we could print the coverage change in the output of a PR. This could help people writing tests to cover their new/changed code.

[2016-01-09 15:04] martijnrusschen commented on #297
Looks like https://codecov.io/ can help us here. Will see if I can set this up!

[2016-01-09 15:05] rafeememon commented on #297
We can probably use something like Coveralls here.  Possibly relevant docs:

* https://coveralls.zendesk.com/hc/en-us/articles/201769715-Javascript-Node
* http://mluby.azurewebsites.net/coveralls-io-w-node-travis-ci/

[2016-01-09 15:43] martijnrusschen commented on #297
Yeah both options are similar to each other I guess. One think I like about Codecov is that it's more in your face since it outputs the difference in the PR. I think that will help people more than having the output in the CI (Travis).

[2016-01-11 09:38] #297 closed

[2016-01-11 13:13] aspirisen opened #299 "Use TypeScript"
To my mind it is good to have strict type checking. It would help with correct autocomplete and would help to write code as we always know for example what arguments a function requires and what it returns and so on. Also it would be easy to generate `d.ts` that would help others who use typescript or to IDE (i.e. WebStorm) to know the library API with correct arguments typing.

[2016-01-12 10:04] Nopzen opened #301 "Initial style error?"
Hello.

I've recently discovered this cool tool and wanted to use it but when i init the tool in my application i looks like this:

![skaermbillede 2016-01-12 kl 11 00 53](https://cloud.githubusercontent.com/assets/2326591/12260388/ed07e564-b91b-11e5-8c9d-7d11533740ab.png)

Its missing all styles that you guys have. Im currently firing up the tool like this:

```<DatePicker selected={this.state.st

[2016-01-12 10:07] Nopzen commented on #301
NB: When i look my inspect tools, the classes are applyed on the html document but not loaded in?

[2016-01-12 10:43] aspirisen commented on #301
@Nopzen Try to embed the datepicker's CSS file manually in your HTML document

[2016-01-12 10:56] stephenpascoe commented on #275
For reference @martijnrusschen's solution works: `$('.datepicker__input').click()`

[2016-01-12 11:11] rafeememon commented on #290
@RSO, please take a look when you get a chance, thanks!

[2016-01-12 11:47] Nopzen commented on #301
@aspirisen - Its added through npm, i guess that datepicker should use the stylesheet it self?
-  its not possible for me to add the css file from the node_modules folder.

[2016-01-12 12:12] rafeememon commented on #301
What code tool are you using?  Can you add `import 'react-datepicker/dist/react-datepicker.css';` as the docs suggest to bring in the stylesheet (if it's webpack/browserify based)?

[2016-01-13 13:54] boyarskiy opened #302 "The second datepicker doesn't close"
When open the first datepicker, change the month, then open the second one, and the first doesn't close.

Screenshot:
http://dl3.joxi.net/drive/0004/1007/275439/160113/5826535989.jpg

[2016-01-13 14:02] rafeememon commented on #302
Thanks for the report.  Looks like this applies to any two pickers on the example page.

[2016-01-13 15:02] tomazzaman commented on #296
Agreed, it will definitely be a UX improvement to show these differently.

[2016-01-13 18:46] lucygilbert opened #303 "Installing via Bower doesn't work."
After a bit of testing, it doesn't look like it has worked since 0.15.2. In 0.16.0, the dist folder was removed from the package, but the Gruntfile isn't running during the `bower install` so a dist folder is never being made.

[2016-01-14 09:07] RSO commented on #303
Thanks for the report. Hopefully I can check this out later today!

[2016-01-14 09:10] martijnrusschen commented on #301
@rafeememon's suggestion should work in this case.

[2016-01-14 09:14] martijnrusschen commented on #280
Right, I get it. So the goal you want to achieve here is to style 2 datepickers differently. IMO, a really specific use case but I'll see if I can work out something.

[2016-01-14 09:58] thenikso commented on #259
+1

[2016-01-14 11:47] #275 closed

[2016-01-14 11:47] #281 closed

[2016-01-14 12:49] martijnrusschen commented on #303
Not sure on how to fix this, we fixed this issue in for NPM by adding an .npmignore that overwrites the .gitignore file, but doesn't look like something like that is available for Bower.

[2016-01-14 15:06] Failproofshark opened #305 "Installation via rails-asset seems to be broken"
This might be related to error #303 in that the latest version (0.18.0) via rails-assets seems to be broken as well. Installing any version past 0.15.2 results in the pipeline breaking reporting javscript asset could not be found after adding `//= require react-date-picker` to my application.js

This is my application.js
[code]

[2016-01-14 15:11] martijnrusschen commented on #305
Yup looks like the same problem.

[2016-01-14 16:15] benmliang commented on #161
+1, on IE 11, The calendar doesn't close, flash back and forth.

[2016-01-15 14:28] RSO commented on #303
Hmm, I'm also unsure as to how to fix this. I really don't want to add back those dist files (they really pollute PRs). We could maybe add something to the release script that adds them, create a tag, and then removes them again? Not sure how that would work.

I would love to know how many people still use Bower, and would like us to support it.

[2016-01-15 14:31] RSO commented on #305
Closing as dupe of #303

[2016-01-15 14:31] #305 closed

[2016-01-15 14:34] RSO commented on #299
I would love to hear other people's thoughts on this matter. Personally I don't have any experience using TypeScript, and even though I like the concept, I'm not quite sure if I would use it for a plugin like this.

One of the most important things to me is that the source code of this plugin should be as easy as possible for new people to dive in to, I feel that with ES2015 we're already on a lim

[2016-01-15 14:35] RSO commented on #296
Yeah, we had this before, but I think some of this got lost in one of @lbekkema's styling refactors.

[2016-01-15 15:43] rafeememon commented on #303
It looks like React libraries generally have poor support for bower -- in fact Facebook doesn't publish a bower library for React (there's a shim repository, [yuck](https://github.com/reactjs/react-bower)), and popular React libraries don't publish to bower (redux, react-router).  I suspect not many people are using the datepicker bower library since we just discovered this now.

[2016-01-15 16:00] rafeememon commented on #299
Unfortunately I don't have experience with TypeScript either, and I agree that it may hinder the approachability of the code base.  I think this would be a huge lift for not a lot of gain.

@aspirisen, can you give an example of a case where a typing file would be valuable to a project consuming this library?  If it would be valuable, is there a path for generating a typing file from ES6?

[2016-01-15 16:48] RSO commented on #303
Yeah, I think that the `react-datepicker-bower` repository might be the way to go. @martijnrusschen what do you think, would we be able to manage that as well, or should we leave that to someone else in the community?

[2016-01-15 17:09] martijnrusschen commented on #303
@rso do you think it would be doable to create a script that includes this in the release process? Way to go here looks like:
- Fork current repo into new bower specific repo
- Add dist folder back in the bower repo
- On a release of the main repo, also release bower repo.

I think this would be doable if we can automate this form the main repo.

[2016-01-15 22:33] aspirisen commented on #299
@RSO

Yes, on the one hand TypeScript is one more tool that would be nice to know a bit in order to develop application, but on the other hand it allows to know more about the code just by taking a glance on it, for example what a variable is without searching through the whole code, or to know what arguments function requires, what properties has a class and which are allowed for using (public) a

[2016-01-17 14:58] rafeememon commented on #303
Stumbled upon this today: the approach taken by [Elemental UI](https://github.com/elementalui/elemental) may work, specifically their approach to using a bower publishing script.

[2016-01-18 01:02] #290 closed

[2016-01-18 18:39] gweinert commented on #161
+1 here. On IE 11, 10, 9. I also see the calendar flash back and forth.

[2016-01-18 20:23] rafeememon commented on #296
Aha, found the thread: #78  It looks like the main concern was that dates not in the current month looked non-selectable because they had the same styling as disabled dates.  I'm not sure what the proper styling should be but a good first step is implementing the `--outside-month` class.

[2016-01-18 20:52] martijnrusschen commented on #296
Yes, great first step. Would be cool to discuss some possible options here for styling. Suggestions?

[2016-01-18 21:10] martijnrusschen commented on #296
With #308 merged, we now have the ability to style `datepicker__day--outside-month`.

[2016-01-18 21:11] martijnrusschen commented on #296
We'll be adding a default styling for this as soon as we have a idea on how to style this.

[2016-01-18 21:15] martijnrusschen commented on #289
This should be fixed by #307

[2016-01-18 21:15] #289 closed

[2016-01-18 21:18] Nopzen commented on #301
@rafeememon - Works :+1:  Thanks!

[2016-01-18 21:18] #301 closed

[2016-01-18 21:25] rafeememon commented on #289
Hey @smelnikov, we added a `filterDate` property to the date picker to handle this use case.  Let us know if that works for you.

[2016-01-18 21:36] smelnikov commented on #289
This is perfect! Thanks @rafeememon , @martijnrusschen

[2016-01-19 15:29] fabricior commented on #161
+1

[2016-01-19 16:57] rcoy-v opened #309 "Datepicker flashes between open and closed when input is clicked in IE"
Version 0.18 introduced a bug in Internet Explorer. When the datepicker is opened and the input is clicked, the calendar quickly flashes between opened and closed. Rolling back to version 0.17, this issue does not exist.

[2016-01-19 16:59] rcoy-v commented on #161
I added a new [issue](#309) for the recent flashing issue in IE, as this thread is for a separate bug.

[2016-01-19 17:10] rafeememon commented on #309
Possibly related to #273

[2016-01-19 20:05] brettjanssen commented on #309
It has the same problem in Chrome using a Windows Precision Touchpad (and in fact when you select the date it doesn't populate the field).  It works fine with a mouse though!  Weird.

[2016-01-21 01:42] rafeememon commented on #249
I'm not sure this is something we can do.  The date input allows an arbitrary date format to be specified, which could include month names, weekdays, etc.

[2016-01-21 02:19] ihsansatriawan opened #314 "TypeError: Cannot read property 'onSetProperty' of undefined"
I want parsing value from Datepicker into smart component

in my dump component :
[code]

in my smart component, i have property `onSetProperty`, but console show error : `TypeError: Cannot read property 'onSetProperty' of undefined`

what i miss something to config ?

thx

[2016-01-21 02:22] rafeememon commented on #314
You'll need to bind the context of your component to the function passed to the `onChange` prop.  Try:

[code]

[2016-01-21 02:58] ihsansatriawan commented on #314
thx @rafeememon ! i prefer use arrow function `onChange={(date) => this.handleChangeDate(date)}`

thx for your suggest

[2016-01-21 02:58] #314 closed

[2016-01-24 03:52] silvenon opened #318 "Support repeating when including/excluding dates"
In my use case I want to include only Thursdays. I could send a PR, but I'm not sure what the API for that should look like.

[2016-01-24 03:57] silvenon commented on #318
Suggestion:

[code]

[2016-01-24 04:18] silvenon commented on #318
Better suggestion:

[code]

[2016-01-24 08:58] rafeememon commented on #318
Hey @silvenon, we added the `filterDate` property in #307, which will be available in the next release.

[2016-01-24 08:58] #318 closed

[2016-01-24 13:28] silvenon commented on #318
:+1:

[2016-01-24 17:46] ardcore commented on #259
+1

while minDate and maxDate are easy to validate manually in onChange callback, I believe datepicker should be responsible for the whole validation part (i.e there are also excluded dates)

[2016-01-25 19:31] #241 closed

[2016-01-25 19:47] rafeememon commented on #286
Hey @psibi, can you give more details here?

[2016-01-25 19:49] psibi commented on #286
@rafeememon Ah sorry, it's duplicate of #283.

[2016-01-25 19:49] #286 closed

[2016-01-25 19:52] rafeememon commented on #187
I don't think this is an issue anymore now that `DateUtil` has been removed.

[2016-01-25 19:52] #187 closed

[2016-01-25 20:08] TheSisb opened #320 "Option to set default date on open"
Currently in all examples the picker opens to the current date.  I want to open it to another date/year without setting a value.
Any undocumented option for this?

[2016-01-25 20:08] rafeememon commented on #173
I don't think this can be implemented as stated -- excluded values are necessarily finite, so going far into the past/future can get to valid dates.  I can see this working with `includeDates` instead.

[2016-01-25 20:35] rafeememon commented on #320
Hey @TheSisb, there's no hidden option for this but it sounds like a good request.  This could be an `initialDate` prop that, if specified, will set the calendar's view to this date on first load.

[2016-01-26 23:10] rafeememon commented on #99
I'm not this should be implemented, in the interest of keeping a simple API.  This is possible with either `excludeDates` or `filterDate`.

[2016-01-26 23:10] #99 closed

[2016-01-27 12:57] knaman2609 opened #321 "Expose onClick event on input box"
Just like onFocus and onChange, is it possible to expose the onClick event. The specific usecase is putting the datepicker in the dropdown and preventing the event Propagation.

[2016-01-27 13:07] knaman2609 opened #322 "Expose onClick event on input box"
Just like onFocus and onChange, is it possible to expose the onClick event. The specific usecase is putting the datepicker in the dropdown and preventing the event Propagation.

[2016-01-27 13:09] #322 closed

[2016-01-27 20:15] rafeememon commented on #299
Talked to @martijnrusschen about this; given that none of us have TypeScript experience I don't think this is something we can do.  Sorry!

[2016-01-27 20:15] #299 closed

[2016-01-27 20:16] rafeememon commented on #120
@mqklin does the `readOnly` prop work for your use case?

[2016-01-27 21:24] aspirisen commented on #299
Maybe on day :) ok, perhaps it is good to not to have additional instrument now that is not commonly used yet.

[2016-01-27 22:18] raptoria commented on #309
+1   I have the same problem with IE10, my error message is:
Line: 110121
Error: Object doesn't support property or method 'setState'

[2016-01-27 22:38] rafeememon commented on #302
This is a limitation of `react-onclickoutside`, namely the `ignore-react-onclickoutside` class.  When clicking on another picker, the click doesn't trigger the first picker to close because of the class.

[2016-01-28 08:32] mqklin commented on #120
I don't really remember... I chose another calendar

[2016-01-28 09:47] DavidTheSimon opened #324 "Picking a date is not added to the input box"
I tried you code and I just cannot make it work. Something I'm missing probably.

I use: ` "react": "^0.14.6",`

Whatever I do, the date in the input doesn't change. I console logged it and the onChange event doesn't pick the chosen date. Always shows the exact time and date of the moment I clicked, but still the input is not changed.

Could give me any idea why this is happening?

[2016-01-28 09:52] xabikos commented on #309
I have the same behavior with IE11. Currently I am using version 0.17 but this has some performance issues as on onBlur is called multiple times something that makes the component slow.

[2016-01-28 20:35] raptoria opened #325 "prop to not show weekends in the calendar?"
Right now I'm using CSS to hide the weekends from the calendar completely.. would it be possible to have a prop that does this or should I stick to CSS?

Thanks!

[2016-01-28 20:40] martijnrusschen commented on #325
You can probably use the filterDate option for this.

[2016-01-28 20:40] martijnrusschen commented on #325
Example: http://hacker0x01.github.io/react-datepicker/#example-8

[2016-01-28 20:42] martijnrusschen commented on #325
Oh I just noticed that the filterDate option isn't released yet. I'll go ahead and release a new version so you can start using this.

[2016-01-28 20:51] martijnrusschen commented on #325
Latest release is now available on NPM. Release notes: https://github.com/Hacker0x01/react-datepicker/releases/tag/v0.19.0

[2016-01-28 21:30] uniphil commented on #320
We do this by hooking into `onFocus`, eg.:
[code]

Which works well for us since we do some computation at focus time to determine which date should be default. However, for simpler cases this is probably annoying to have to set up.

[2016-01-28 21:59] uniphil commented on #294
ooh this would be awesome!

[2016-01-29 15:32] raptoria commented on #325
thank you!!!

[2016-01-29 15:32] #325 closed

[2016-01-30 05:12] martijnrusschen commented on #324
Can you post an example of how you're using the component?

[2016-02-01 02:18] rafeememon commented on #309
Should be fixed by #319

[2016-02-01 02:18] #309 closed

[2016-02-01 02:19] rafeememon commented on #302
Should be fixed by #319

[2016-02-01 02:19] #302 closed

[2016-02-01 02:26] martijnrusschen commented on #161
Should be fixed with #319.

[2016-02-01 02:26] martijnrusschen commented on #106
Should be fixed with #319.

[2016-02-01 02:29] martijnrusschen commented on #271
@rafeememon Do you think this is fixed by #319?

[2016-02-01 02:34] rafeememon commented on #161
Yup, just verified

[2016-02-01 02:34] #161 closed

[2016-02-01 02:34] rafeememon commented on #271
Yup it is!

[2016-02-01 02:34] #271 closed

[2016-02-01 02:38] rafeememon commented on #106
@martijnrusschen, I don't think it was addressed actually.  Will make a separate fix

[2016-02-01 02:40] #249 closed

[2016-02-01 02:41] martijnrusschen commented on #106
Ah, this one was mentioned in #319, but looks you're right.

[2016-02-01 02:43] rafeememon commented on #106
Oops, yeah I think I misread this bug the first time around.

[2016-02-01 11:41] osala-netquest commented on #324
+1.
Tricky solution: assing formatted date to text input in onChange function -> YourDatePickerRef.refs.input.refs.input.value = date.format('YourFormat');

[2016-02-01 12:13] carera commented on #321
+1 as I am overloading this component for iOS webview and displaying native iOS datepicker instead

[2016-02-01 18:56] rafeememon commented on #324
@DavidTheSimon, @osala-netquest, can you post your code that shows this problem?  Unfortunately we can't help you otherwise.

[2016-02-01 22:34] #106 closed

[2016-02-02 21:57] raptoria opened #329 "Re-rendering datepicker causes setState error"
I have a page that re-mounts the same component when a new date is selected (with a new key, so the old DOM is tossed out).  The problem I have is
the hideCalendar function gets called after the old datepicker component has already been removed.

the error:
setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a

[2016-02-02 22:11] rafeememon commented on #329
This was fixed with #319 (all async operations where this can happen have been removed), but I don't think it's been released yet.  @martijnrusschen should we cut a release?

[2016-02-02 22:13] martijnrusschen commented on #329
Yep sounds good. I'll try to get a release out today.

[2016-02-02 22:20] raptoria commented on #329
awesome. can't wait!

[2016-02-02 22:40] rafeememon commented on #303
We're removing support for bower for the time being.  Please re-open this if you'd like to see us bring it back!

[2016-02-02 22:40] #303 closed

[2016-02-02 22:42] martijnrusschen commented on #329
Just ran a release and updating the component to 0.20.0 should solve the problem. Can you confirm this works?

[2016-02-03 02:01] dnl commented on #160
I used this as a hacky workaround.

[code]

[2016-02-03 02:16] raptoria commented on #329
getting this error upgrading to the latest:

clacey@clacey-VirtualBox:~/react-flask$ npm install react-datepicker --save
npm WARN package.json react-flask@0.0.0 No repository field.
npm WARN peerDependencies The peer dependency react@^0.14.7 included from react-addons-shallow-compare will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDepe

[2016-02-03 06:19] martijnrusschen commented on #329
I guess the error might be in this file https://github.com/Hacker0x01/react-datepicker/blob/57d422bbb4d516f969f3fe2336bc1609510cdf33/webpack.config.js#L56. We moved from plain tether.js to a React package that creates wrapper around tether. Can you confirm this @rafeememon?

[2016-02-03 15:40] vojty opened #332 "Datepicker 0.20 doesn't work in react-bootstrap's modal"
0.19 was fine
There is no error in console...

[2016-02-03 15:57] rafeememon commented on #329
Ah, darn.  Looks like the tether declaration needs to be removed (rather than replaced with react-tether as it looks like react-tether doesn't export a global).  I think this is safe because classnames appears to work without an issue.

[2016-02-03 16:00] rafeememon commented on #332
Probably a z-index issue; try finding the `datepicker__tether-element` at the end of the DOM when you click the picker, and increasing its z-index until it's visible.

[2016-02-03 16:36] vojty commented on #332
yeah that's, thank you!

[2016-02-03 16:36] #332 closed

[2016-02-03 20:55] mbektimirov commented on #324
I can confirm the issue.  The code is simple, nothing special:
[code]
[code]

[2016-02-04 10:04] te-chris opened #333 "ES6 imports importing dependencies with Webpack"
I've just added react-datepicker to my project and imported it like so:

`import DatePicker from 'react-datepicker'`

This seems to import all of react-datepickers dependencies, leading to moment and react being loaded twice.  I think this is due to bower requiring its dependencies as well as webpack loading the npm dependencies.  Is there a way around this?

Thank you

[2016-02-04 10:23] mbektimirov commented on #324
The workaround for this problem is to provide selected date via `selected` prop with current state:
[code]

[2016-02-04 10:52] rafeememon commented on #324
I think this is the intended use and in fact not a workaround.  We made a change recently where we no longer store the selected date as internal state, and instead leave it up to the user to store the selected date as the "single source of truth."  Storing the date twice could lead to inconsistencies between what is shown and what the wrapper components think is shown, so we now defer this entirel

[2016-02-04 11:36] mbektimirov commented on #324
@rafeememon I like this solution, but you need to clarify this approach in documentation and describe all `DatePicker` props.

[2016-02-04 11:48] rafeememon commented on #324
The docs could definitely be better re: props, but I should point out that every example shows the datepicker used this way, e.g. https://github.com/Hacker0x01/react-datepicker/blob/master/docs/src/examples/clear_input.jsx

[2016-02-04 11:48] #324 closed

[2016-02-04 11:49] rafeememon commented on #332
Woot!

[2016-02-04 12:25] rafeememon commented on #333
Hey @te-chris, a couple questions:

* Are you installing the datepicker via npm or bower?
* What does your dependency tree under `react-datepicker` look like, i.e. are `moment` and `react` included in `node_modules` **under react-datepicker**?  Or are they only in your topmost `node_modules`?

[2016-02-04 12:26] te-chris commented on #333
hey @rafeememon thanks for getting back to me.  installed via NPM, moment and react are both already in the project.

[2016-02-04 12:29] rafeememon commented on #333
@te-chris, right, but are they also present in `node_modules` under `react-datepicker`?  If they are, they'll be loaded separately because of how node resolves dependencies.  Deleting them from there should do the trick.

[2016-02-04 12:35] rafeememon commented on #333
Oh, also, what versions of moment and react are you using in your project?  If they're different versions than what satisfy the datepicker's dependencies (currently react is ^0.14.0, moment is ^2.10) then the datepicker will install and load them as additional dependencies.

[2016-02-04 12:54] te-chris commented on #333
Here's my package.json

[code]

[2016-02-04 12:55] rafeememon commented on #333
@te-chris, again, please look in `node_modules/react-datepicker/node_modules` and tell me what's there =)

[2016-02-04 12:56] te-chris commented on #333
Sorry, there's no `node_modules` dir in there.  there is a `bower_components` dir

[2016-02-04 13:04] rafeememon commented on #333
Ah, I think npmv3 changed how dependencies are resolved.  What version of node and npm are you using?

What are you observing that is telling you that react and moment are being loaded twice?

[2016-02-04 13:21] rafeememon commented on #333
Just looked into `bower-webpack-plugin`, and it looks like it's making webpack look in `bower_components` for dependencies.  I'd recommended using either npm or bower for dependencies, but not both; sometimes they can interact in strange ways.  If you don't explicitly need `bower-webpack-plugin` I'd get rid of it.

We officially removed bower support in #330, so we should probably stop publishing

[2016-02-04 13:26] te-chris commented on #333
Using node 5.4 and latest npm.  Oh of course! Sorry didn't even notice that - a hangover from the generator.  Will remove as we're not using bower at all

[2016-02-04 13:31] te-chris commented on #333
Removed the bower loader and still getting this
![screen shot 2016-02-04 at 13 30 44](https://cloud.githubusercontent.com/assets/392904/12816308/90d94c76-cb43-11e5-9661-1d4249c8befc.png)

[2016-02-04 13:33] rafeememon commented on #333
Hmm, are you sure you removed all references to bower in your config?  Looks like there are ways to load from bower in addition to the webpack plugin, e.g. https://webpack.github.io/docs/usage-with-bower.html

[2016-02-04 13:38] te-chris commented on #333
Thanks for persisting, that was the issue.  Appreciate your patience! :)

[2016-02-04 13:41] rafeememon commented on #333
Awesome, glad you got it working!

Also, completely out of curiosity, I see you also have `react-date-picker` in your package.json -- are there any features in that picker that you'd like to see here?

[2016-02-04 13:42] te-chris commented on #333
Tbh I just needed one that worked as one a deadline so that was the next choice ;)

[2016-02-04 13:42] #333 closed

[2016-02-04 16:11] formigone opened #334 "Invariant Violation: addComponentAsRefTo on React 0.14.7"
Here's my app:
[code]

Here's the output:
![output](http://i.imgur.com/HQGMgWF.png?1)

### What I'm using:
[code]

[2016-02-04 16:32] rafeememon commented on #334
Looks like `babel-plugin-react-constant-elements` is to blame, based on the description of what it does: https://babeljs.io/docs/plugins/transform-react-constant-elements/

The datepicker uses refs internally, so I don't think they can be compatible.

[2016-02-05 13:44] formigone commented on #334
Ah, that makes sense. I've been smacking Babel around to try and get it to work without that plugin. I'm having a hard time getting 6.x to work on my set up, and 5.8  depends on that plugin...

Does anyone know how to possibly have Babel ignore/not use a particular plugin?

[2016-02-05 14:05] rafeememon commented on #334
Hmm, interesting.  Could you show us your entire dependency tree (without `grep react`), and maybe also your `.babelrc`?

[2016-02-05 14:06] formigone commented on #334
I'm not using .babelrc. Here's my deps tree:

[code]

[2016-02-06 11:57] rafeememon commented on #329
Per #335, this should address all of the issues here.

[2016-02-06 11:57] #329 closed

[2016-02-08 13:10] nsisodiya opened #337 "Error : Module build failed:"
ERROR in ./~/react-datepicker/dist/react-datepicker.min.js
Module build failed: ReferenceError: [BABEL] /Users/narendrasisodiya/projects/hotelsoft/rzr-ui/node_modules/react-datepicker/dist/react-datepicker.min.js: Unknown option: /Users/narendrasisodiya/projects/hotelsoft/rzr-ui/node_modules/react-datepicker/.babelrc.presets

any idea ?

[2016-02-08 13:57] nsisodiya opened #338 "How to set Today"
I want to show a different Today. Because my client can visit to any other country he want to see date as his actual today and not the today in the country he is present.
Any idea or hack how to do it ?

[2016-02-08 14:03] nsisodiya commented on #338
I checked the code.
Instead of this
[code]

I suggest for having

[code]

and you can set default value of today is `moment()` and user will be able to overwrite it.

[2016-02-08 14:22] nsisodiya commented on #338
Generated Pull Request - https://github.com/Hacker0x01/react-datepicker/pull/339

[2016-02-08 15:14] rafeememon commented on #338
Is it possible to use moment localizations so that the dates are always in the timezone that you specify?  I'm weary of adding this to the API of the datepicker and breaking the simple contract of today being "today."

[2016-02-08 17:18] nsisodiya commented on #338
@rafeememon - instead of timezone, specifying today is much better approach just like `selected` prop. In my pull request, I have added this props as optional prop.

Also, there is no breaking because advance user want this behaviour. normal user will not pass `today` props. There is not a single date picker exist which provide this functionality. (Setting as custom today)

[2016-02-08 18:51] rafeememon commented on #338
Understood that this is not a breaking change, but in general I would prefer to not add to the API, as we need to support it.  Can you explain why this approach is better than using localization?

[2016-02-09 07:30] nsisodiya commented on #338
Because, If you want to pass timezone then you have to add moment-timezone library.
http://momentjs.com/timezone/ It is 25KB on gzipped.
I do not know, just for one simple task, why will we add another library specially this is a client side code.

`Can you explain why this approach is better than using localization`
I exactly do not understand this. `localization` has nothing to do with it.
I mad

[2016-02-09 08:55] nsisodiya opened #340 "DatePicker on External Input Element"
This should also work.

[code]

Or other way.
For me DatePicker is  a not a control. Date Picker should be a `Effect` on a control.
for example, My desired input can be anywhere or any library can generate it.

We can have a optionally. as User may want to send external input element or not.

[2016-02-09 13:25] rafeememon commented on #338
I think part of the job of software engineering is finding the right set of features that:

* makes common use cases easy
* makes advanced use cases **possible**

I think a big advantage of using the moment.js library is that we are able to leverage its plugins, like moment-timezone, making it unnecessary to duplicate its effects.  As we move towards a 1.0 release of the datepicker we're focusing

[2016-02-09 13:50] rafeememon commented on #340
I like this idea; here are a couple things I thought of

* I think this should probably be exposed as a separate component, possibly `DatePickerWrapper` to separate logic (currently the `DatePicker` and the `DateInput` are pretty tightly coupled).  As a bonus, this could be a mixin, or as an extra bonus, an annotation??
* Open state would need to be entirely managed by the user since
  * we probab

[2016-02-09 14:30] nsisodiya commented on #338
Override the font-weight style for datepicker__day--today - Possible.
using selected prop for today -- Not Possible.
Because selected prop has different purpose.
May you show me how to do this - "manually apply the bold style to whatever
date you want"
Because, I do not think it is possible. I checked the rended html and there
is no way I can make any `selector`.

[2016-02-09 15:34] rafeememon commented on #338
You can use a library like jquery to find `.datepicker__day--today` elements, inspect the day, and toggle the font accordingly.

I ***strongly*** recommend using moment-timezone here.

[2016-02-09 17:20] nsisodiya commented on #338
@rafeememon - Your DatePicker is showing 9 Feb as Bold which is Today. I want to Bold 8 Feb which is my client's Today.
With JavaScript or selector, I can toggle Bold for 9 Feb to look like normal date. But showing Bold on 8 Feb is not possible. That is my problem.

[2016-02-09 17:21] nsisodiya commented on #337
@rafeememon When I remove .bablerc file, everythings works fine.
I am using old 5.xxx version for my project which i cannot migrate. Any idea, how to correct this error !

[2016-02-09 17:23] martijnrusschen commented on #337
Have you tried this with the latest version? We changed some things in how we serve files to the package. This might work for you too.

[2016-02-09 17:42] nsisodiya commented on #337
I am using `"react-datepicker": "0.20.0",`

[2016-02-09 17:43] martijnrusschen commented on #337
Please try 0.21.0
On di 9 feb. 2016 at 18:42 Narendra Sisodiya <notifications@github.com>
wrote:

[2016-02-09 17:51] rafeememon commented on #338
@nsisodiya, understood, but this is an example of the XY Problem.  You should use moment-timezone to accomplish what you're trying to do.

[2016-02-09 17:51] #338 closed

[2016-02-09 18:27] nsisodiya commented on #337
Problem solved..

[2016-02-09 18:29] #337 closed

[2016-02-09 21:07] arthur-creek opened #343 "Add container's parameter for <Popover/> component"
There are some problems when I use `<DatePiker/>` with <Overlay rootClose /> from https://github.com/react-bootstrap/react-bootstrap
Input of `<DatePicker/>` is located inside `<Overlay/>`, but `<Popover/>` with `<Calendar/>` is outside.
And `<Overlay/>` hides on select date action.
It will be beautiful to have ability to change parent element for `<Popover/>`

`<DatePiker tetherConstraints={[...]

[2016-02-09 23:15] formigone commented on #334
And after many days, I have finally discovered what the problem was. Works like poetry now. There was nothing wrong with react-datepicker + react 0.14.

What solved my problem was to include ```react-dom``` in my webpack's ```externals``` config, since I was already bringing in ```react-dom``` globally alongside ```react``` via script tags.

[code]

[2016-02-09 23:15] #334 closed

[2016-02-10 10:31] rafeememon commented on #343
Unfortunately it's not possible to change the parent element for the popover because of the tethering library we use.  The issue you're seeing is probably a z-index problem, so try increasing the z-index of `.datepicker__tether-element`.

[2016-02-10 13:48] arthur-creek commented on #343
No. `z-index` param resolves  the visibility problem only. It was fixed with CSS.

[2016-02-10 14:06] rafeememon commented on #343
What is the problem you are seeing?

[2016-02-10 14:46] rafeememon commented on #221
Turns out we already have the (undocumented) `readOnly` property, which should help in this situation.

[2016-02-10 17:00] martijnrusschen commented on #221
Shouldn't we document this somewhere? :)

On Wed, Feb 10, 2016 at 3:46 PM Rafee Memon <notifications@github.com>
wrote:

[2016-02-10 17:07] uniphil commented on #221
We're using `readOnly` for its #itworks factor, but it would be nice to have this approach reviewed for accessibility. Are there users who need the keyboard input to work?

[2016-02-10 17:20] rafeememon commented on #221
Maybe I closed this too soon =P

@uniphil, my thought process was that if a user wants to hide virtual keyboard (for whatever reason) they probably don't care about the user typing in a date, so `readOnly` would be safe.

If you're aiming to allow keyboard input when viewed on a desktop but still want to hide the virtual keyboard on mobile, I guess you could toggle the `readOnly` prop according to

[2016-02-10 18:57] uniphil commented on #221
@rafeememon only thing missing is the input of someone with experience using alternate input methods on mobile devices. Hopefully the `readOnly` approach doesn't add any barriers! I'll throw up a test page, and see if I can find someone to review usability.

[2016-02-10 19:02] rafeememon commented on #221
Agreed, we can settle this once and for all if someone with experience could take a look.  Thanks for offering to help, let us know what you find out!

[2016-02-11 10:33] #259 closed

[2016-02-11 19:34] alex-wilmer opened #347 "Require is not defined - react-datepicker.min.js"
Fresh install, typical React project:

`npm install react-datepicker --save`

`import DatePicker from 'react-datepicker';`

Pages crashes with

[code]

[2016-02-11 19:37] martijnrusschen commented on #347
You'll need moment.js as a dependency. Please post your dependency tree if
you have already included moment.
On do 11 feb. 2016 at 20:34 Alex Wilmer <notifications@github.com> wrote:

[2016-02-11 19:42] alex-wilmer commented on #347
I have moment@2.11.1 installed. Which part of the tree do you want me to post... it's too big for npm to show it all I think

[2016-02-11 19:43] alex-wilmer commented on #347
here's package.json

[code]

[2016-02-11 20:52] martijnrusschen commented on #347
I'm not sure what's on line `react-datepicker.min.js?1928`, any chance to check if there's anything relevant?

[2016-02-11 23:45] mike-engel commented on #294
@rafeememon This would be great! I'm currently working on a project that needs *just* this. Right now, however, I have to download a zip of the project and reference the calendar object locally. Would you consider adding the `src` folder to the `package.json` files key? That way I could just install this package and get at the singular calendar component (and its required files). Thanks!

[2016-02-12 08:16] rafeememon commented on #334
Missed the update here -- glad you got this working, and hopefully this can be useful to others in the future!

[2016-02-12 09:38] rafeememon commented on #294
Hey @mike-engel, glad you would find this useful.  I think the way this would work is we would publish a `lib` directory which is `src` cross-compiled with babel.  I'd like to get the API in a slightly more usable state before we do this though.

[2016-02-12 09:43] rafeememon commented on #120
Closing this for the sake of getting to #inboxzero, as it looks like the issues mentioned here are addressed

[2016-02-12 09:43] #120 closed

[2016-02-12 09:44] rafeememon commented on #347
@alex-wilmer, could you link us to the project that shows this problem (preferably a minimum-viable-project that shows this)?  This could be any number of things, but I suspect it might have to do with the webpack setup.

[2016-02-12 10:38] martijnrusschen commented on #291
Got a first version running in a way that generates markdown files for each component file. (https://github.com/Hacker0x01/react-datepicker/pull/348) This is almost ready to go and could be nice first version to start with. Ideally, I'd add a new page to the GH pages website where we publish these docs in a nice way.

[2016-02-12 17:36] mike-engel commented on #294
Thanks @rafeememon. Is there anything I can help with?

[2016-02-12 18:39] rafeememon opened #351 "Today button action"
The today button sets the selected date to the current date, which also closes the calendar.  This was a little bit jarring to me the first time I tried it, but I'll admit that I might be crazy, haha.  An alternative action would be to set the calendar to the current month but don't change the selected date, which is how other datepickers that I've used work.  The user would still be required to c

[2016-02-12 21:10] strawbrary opened #352 "Server-side rendering broken in 0.22"
It looks like 0.22 cannot be used server-side due to reliance on `document`. Here is a simple example that worked in 0.21.
[code]

Result:
[code]

[2016-02-12 21:32] rafeememon commented on #352
Looks like this was introduced when we upgraded `react-tether` to v0.3.1, which has an eagerly-evaluated `document.body` reference.

[2016-02-12 21:37] rafeememon commented on #352
@strawbrary, can you verify that changing the portion of referenced in the stacktrace fixes your problem?

Around react-datepicker.min.js:6:16300:
[code]

Change to:
[code]

[2016-02-12 21:48] james4388 opened #353 "Datepicker wrap in bootstrap group input has wrong offset"
I want to add input group with calendar icon for datepicker, this is what I've done:

[code]

It's worked, amazing

<img width="521" alt="screen shot 2016-02-12 at 1 46 19 pm" src="https://cloud.githubusercontent.com/assets/174132/13021262/167302e0-d18f-11e5-805f-9f0a3fc59950.png">

But when click on it, the calendar got wrong offset coordinate and z-index do not ritght.

<img width="269" alt="scr

[2016-02-12 21:50] rafeememon commented on #352
@strawbrary, can you verify that changing the portion of code referenced in the stacktrace fixes your problem?

Around react-datepicker.min.js:6:16300:
[code]

Change to:
[code]

[2016-02-12 21:52] rafeememon commented on #353
You can adjust the dropdown placement with the `popoverTargetOffset` prop, described here: https://github.com/Hacker0x01/react-datepicker/blob/master/docs/datepicker.md

[2016-02-12 21:55] strawbrary commented on #352
@rafeememon Adding `typeof document !== 'undefined'` works, thanks.

[2016-02-12 21:55] james4388 commented on #353
Oh nice, thanks

[2016-02-12 22:01] rafeememon commented on #352
Thanks -- going to make a PR into `react-tether`

[2016-02-12 22:37] #353 closed

[2016-02-13 00:08] ConAntonakos opened #354 "Uncaught TypeError: Cannot read property 'appendChild' of null"
Not sure why this is happening. I followed the demo example exactly to make sure it wasn't anything I specifically misconfigured, but still getting the error. I would appreciate any assistance. Thank you!

[2016-02-13 00:11] rafeememon commented on #354
@ConAntonakos, please give us the steps to reproduce this issue

[2016-02-13 00:14] ConAntonakos commented on #354
Hey, @rafeememon. Thanks for your response. I'm simply instantiating a React component <DatePicker />, and when I go to click the <input> HTML element, the error fires and the calendar does not open. The "selected" prop works properly, though.

[2016-02-13 00:26] rafeememon commented on #354
@ConAntonakos, can you show us the code that is using the datepicker?

[2016-02-13 00:30] ConAntonakos commented on #354
Sure. I'm using `react-router` to render JSX view, and I'm placing the `<FormDatepicker />` on the page.

[code]

[2016-02-13 00:59] rafeememon commented on #354
I'm able to run the code you posted in one of my apps without any issues.  Any other info you can provide would be great.  Ideally, if you can create a sample project that has the minimum code needed to repro this, we can narrow this down quickly.

[2016-02-13 16:50] rafeememon commented on #354
Just thought of something -- are your scripts being loaded in head or body?  If they're in head and running immediately, the document won't be available yet and the appendChild call will fail.

[2016-02-13 17:42] ConAntonakos commented on #354
@rafeememon Ah, that might be it! I do have the bundled script files running in head. Is that typically not advised?

[2016-02-13 17:48] rafeememon commented on #354
Not sure what is typically advised for react apps -- it would work if you start the app only on document.ready, but I find it easier just to include the script right before the closing body tag.

[2016-02-14 10:19] martijnrusschen commented on #291
Closing this out since we have generate API documentation now. We'll add more docs over time once the internal API becomes more stable. Having a playground is a nice to have for me, but not a blocker for v1.0. Also, improving the generate documentation by copying it to the GH pages site is still on my list.

[2016-02-14 10:19] #291 closed

[2016-02-14 12:12] #126 closed

[2016-02-14 12:12] #175 closed

[2016-02-14 12:13] rafeememon commented on #178
Fixed by #277

[2016-02-14 12:13] #178 closed

[2016-02-14 12:14] rafeememon commented on #160
Probably fixed by #277

[2016-02-14 12:14] #160 closed

[2016-02-14 12:14] rafeememon commented on #203
Most likely fixed by #277

[2016-02-14 12:14] #203 closed

[2016-02-14 22:28] karydja commented on #354
+1 for this same issue. The problem seems to be with `react-tether`, precisely in [this line](https://github.com/souporserious/react-tether/blob/master/src/TetherComponent.jsx#L108), that returns `null` when it should default to `document.body`, according to [it's documentation](https://github.com/souporserious/react-tether#renderelementto-proptypesany).

[2016-02-14 22:59] rafeememon commented on #354
@karydja, can you give us more information about your setup, specifically whether your script is running in `<head>` or `<body>`?  I think this might be because `body` doesn't exist on `document` until it's been outputted, as indicated on this [stackoverflow question](http://stackoverflow.com/questions/20665509/javascript-document-body-undefined-if-not-preceded-by-a-document-write).  If it's in `h

[2016-02-14 23:35] rafeememon commented on #354
I think I puzzled this out -- submitted a fix at souporserious/react-tether#7

[2016-02-15 11:02] karydja commented on #354
@rafeememon I'm using the `DatePicker` component (with it's basic configuration) inside another component. The script is inside the `<head>` tag and, when I move it to the end of the `<body>` tag, it really works like a charm.

I tried to use previous versions (with the javascript inside `<head>`), but with the same error ):

[2016-02-15 11:05] martijnrusschen commented on #354
Ah yes that looks like the same issue. Moving the scripts to the end of the body solves it for now, but souporserious/react-tether#7 should fix in a more stable way.

[2016-02-15 13:02] andrewBalekha opened #357 "Uncaught Invariant Violation: unmountComponentAtNode(...): Target container is not a DOM element."
I'm displaying datepicker depending on a state, and when datepciker should disappear, console throwing error.

`Uncaught Invariant Violation: unmountComponentAtNode(...): Target container is not a DOM element.`

[2016-02-15 13:35] rafeememon commented on #357
Thanks for the report.  I reported this issue at souporserious/react-tether#8

[2016-02-15 13:37] andrewBalekha commented on #357
:+1:

[2016-02-15 15:19] rafeememon commented on #357
Added a failing unit test which will pass when the react-tether bug is fixed.

[2016-02-15 17:05] rafeememon commented on #357
@andrewBalekha, we merged a temporary fix for the problem and published v0.23, please give that a try.

(Note the breaking change re: localization if that applies to you, more info in the readme)

[2016-02-15 19:13] martijnrusschen commented on #351
Hmm didn't have the same feeling. To me the today button feels more like a special button that behaves like the other date inputs. Do we have other examples of these buttons that are behaving different?

[2016-02-15 19:15] martijnrusschen commented on #296
@tomazzaman Do you have suggestions on how this should look like?

[2016-02-15 19:17] rafeememon commented on #351
Looks like bootstrap-datepicker provides a switch called `linked` for this: https://bootstrap-datepicker.readthedocs.org/en/latest/options.html#todaybtn

I don't feel strongly about it either way.  We can leave this open for now and see what other people think.

[2016-02-16 03:35] yy8597 opened #361 "There's a problem when the popup's position is "top"."
When clicking the button of increaseMonth and the height of the popup is change.  The popup of Calendar will be moved when clicking the button again. So I can't fire 'increaseMonth()'.

You can reproduce the bug by scrolling page when pupup is in bottom of page.

[2016-02-16 09:17] Atenna commented on #357
I had the same problem yesterday. I am now using v.0.23, no more unmount error.  Thanx for B-day present :+1:

[2016-02-16 10:21] #354 closed

[2016-02-16 10:24] rafeememon commented on #361
Confirmed; I got the datepicker into a couple weird states
<img width="393" alt="screen shot 2016-02-16 at 10 23 34 am" src="https://cloud.githubusercontent.com/assets/1829450/13073579/794ceae2-d497-11e5-8ab8-3fedb7aa2ba4.png">

<img width="390" alt="screen shot 2016-02-16 at 10 23 51 am" src="https://cloud.githubusercontent.com/assets/1829450/13073574/73af67cc-d497-11e5-9edb-42dfc771988f.png">

[2016-02-16 10:30] andrewBalekha commented on #357
@rafeememon Yep, thanks. works now

[2016-02-16 10:43] andrewBalekha opened #363 "Add type definition for the component"
I'm using typescript, and I wrote a typescript definition file for your component.
https://github.com/Hacker0x01/react-datepicker/pull/362

Since this is first time when I'm publishing for typings, there might be some issues.

[2016-02-16 10:45] rafeememon commented on #363
I'm not sure the typings should live in this repository, as none of the maintainers have experience with TypeScript, and I don't think wed be able to maintain it properly. (Re #299)

What about making a PR into DefinitelyTyped?

[2016-02-16 10:47] andrewBalekha commented on #363
Well DefinitelyTyped is a bit weird and slow :)
But facebook immutablejs deftype is stored in same repo. So I was thinking that it's better to keep it here.

[2016-02-16 10:50] andrewBalekha commented on #363
And I've created a bunch of PR in DefinitelyTyped, but they seems to be dead there :D

[2016-02-16 10:55] rafeememon commented on #363
My concern is that if it lives here, we need to maintain and support it, and unfortunately I don't think we can.  =P  DefinitelyTyped is far and away my preferred way to go here, but maybe you could also get a repository for typings set up, maybe called `react-datepicker-typings`?

[2016-02-16 11:05] Atenna opened #364 "onChange input box stays empty (or changes back to placeholderText)"
I switched to "react-datepicker": "0.23.0" after the unmount error but run into another problem, which is after picking a date from the calendar the input box stays the same as it was before (with the original placeholder text or completely empty). I have moment installed and "react-tether": "0.3.2"

[2016-02-16 11:10] andrewBalekha commented on #363
Good idea, maybe I will do that. thanks!

2016-02-16 11:55 GMT+01:00, Rafee Memon <notifications@github.com>:

[2016-02-16 11:10] rafeememon commented on #364
@Atenna, what version are you upgrading from?  We recently made a change where you will need to maintain the selected state and pass it into the DatePicker as the `selected` prop (see the readme for an example of this).  Could you show us your code?

[2016-02-16 11:12] rafeememon commented on #363
Great! :+1: Let us know if you are able to get this working, I'll leave this issue open to track it

[2016-02-16 12:00] Atenna commented on #364
@rafeememon from v.0.22

I'm using the example code from readme with getInitialState and Handle change with the component as shown below. Is there a problem with dependencies?
[code]

and package.json

[code]

[2016-02-16 12:02] rafeememon commented on #364
I think the problem is that you're storing the date in `startDate`, but the state you're passing to the DatePicker is `date`.  If you change them to match I think it will work!

[2016-02-16 12:11] Atenna commented on #364
ah this is awkward, thank you

[2016-02-16 12:24] rafeememon commented on #364
No problem, glad it was something simple =P

[2016-02-16 12:24] #364 closed

[2016-02-16 12:25] rafeememon commented on #357
Made a proper fix for this and released v0.23.1

[2016-02-16 12:26] rafeememon commented on #354
Should be fixed in v0.23.1

[2016-02-16 12:26] rafeememon commented on #352
Should be fixed in v0.23.1

[2016-02-16 12:33] vl-lapikov commented on #357
v0.23.1:
Datepicker inside react-bootstrap modal. When I close modal, I get error: unmountComponentAtNode ...

v0.23.0:
Works fine

[2016-02-16 12:34] rafeememon commented on #357
@vl-lapikov make sure react-tether is bumped to v0.3.3, maybe try clearing out node_modules and re-installing

[2016-02-16 12:40] vl-lapikov commented on #357
@rafeememon didn't help. I made sure react-tether is v0.3.3.

[2016-02-16 12:52] rafeememon commented on #357
@vl-lapikov, does it work outside of a react-bootstrap modal?  I'm not familiar with the setup of react-bootstrap or how the modal might make things different

[2016-02-16 13:26] vl-lapikov commented on #357
@rafeememon Checked outside react-bootstrap modal and it throws the same error. My steps are about:
- render list of datepickers
- choose date in one of them (datepicker A)
- rerender list of datepickers without datepicker A

I am busy today, however tomorrow might be able to provide short example.

[2016-02-16 14:52] TonyVeigel commented on #357
I also upgraded and get this same error, react-tether is at v0.3.3. started with release 2.2

[2016-02-16 15:51] rafeememon commented on #357
An example would be great here, ideally it's one of the following

* A simple project that we can run showing the problem
* A failing unit test

[2016-02-16 18:39] juancarlosfarah commented on #352
I'm using v0.23.1 and I'm getting the error.

[2016-02-16 18:53] rafeememon commented on #352
@martijnrusschen, it looks like v0.23.1 didn't publish correctly, can you try deleting node_modules, re-installing and republishing v0.23.2?

[2016-02-16 18:54] rafeememon commented on #357
I think this might be an issue with how v0.23.1 was published; there's a similar confusing problem on #352

cc @martijnrusschen

[2016-02-16 19:28] taxigy commented on #361
I'm having the same problem. I put the `DatePicker` into a relatively positioned and constrained by width element, so the whole thing is

[code]

It behaves this way:

![react-datepicker-top-center-positioning-issue-gh-361](https://cloud.githubusercontent.com/assets/1625256/13088222/740ab554-d4fc-11e5-8aef-f8aa3a7188d7.gif)

[2016-02-16 19:37] martijnrusschen commented on #357
Can you try this again with v0.23.2?

[2016-02-16 19:37] martijnrusschen commented on #352
Can you try this again with v0.23.2?

[2016-02-16 19:39] taxigy commented on #357
Having the same problem in 0.23.1. The component hierarchy is pretty basic, still, when I try to unmount parent component and mount another (via react-router), I get the

[code]

exception.

[2016-02-16 19:48] TonyVeigel commented on #357
Works for me with 23.2. Thanks

[2016-02-16 20:13] rafeememon commented on #357
:+1:

[2016-02-16 20:13] #357 closed

[2016-02-16 20:15] martijnrusschen commented on #357
@rafeememon did you see https://github.com/Hacker0x01/react-datepicker/issues/357#issuecomment-184847108?

[2016-02-16 20:29] juancarlosfarah commented on #352
@martijnrusschen, it's working for me with 0.23.2. Awesome.

[2016-02-16 20:31] ir-fuel commented on #301
Maybe this should be added to the main doc here? I stumbled on the same issue.

[2016-02-16 20:34] rafeememon commented on #301
@ir-fuel, it's in the "Installation" example in the readme =)

[2016-02-16 20:34] ir-fuel commented on #301
*doh*

[2016-02-16 20:35] rafeememon commented on #357
Yeah, @taxigy was using 0.23.1.  @TonyVeigel confirmed that 0.23.2 works

[2016-02-16 20:35] rafeememon commented on #352
Woot!

[2016-02-16 20:35] #352 closed

[2016-02-16 23:39] timaschew commented on #357
Can confirm the fix in 0.23.2 as well, thank you!

[2016-02-17 21:18] vsai commented on #343
@rafeememon In https://github.com/souporserious/react-tether/commit/c806cb1fd21438038980e382f4b996ef6d07c8ac, react-tether added support to specify which parent element the tether-element (in this case the calendar) will be added to.

[2016-02-17 21:28] james4388 commented on #357
I use inside react router and has this problem too.

[2016-02-17 21:29] rafeememon commented on #343
@vsai, there were some issues with that prop the last time I tried to use it, but it may be fixed now (from a couple bugs I fixed over there =P)

This may be something we implement, but I'm still interested in hearing the exact problems aside from the z-index issue so that we can have the right reasoning for adding this to the API.

[2016-02-18 03:11] vsai commented on #343
@rafeememon The z-index doesn't seem to be working for me. I tried setting the z-index of the calendar div to 1, 100, 1000, etc., but wasn't able to get it to work.
The context: I have the DatePicker on a react-bootstrap modal, and I want the DatePicker element be within the modal. The input box works fine, but the actual Calendar is hidden below the div.

I would imagine adding the calendar div t

[2016-02-18 18:52] martijnrusschen opened #367 "Switch to ESlint (What kind of tooling should we use for linters)"
I wanted to start a discussion about what tooling we should use for this component. I'm a fan of ESlint (because they have so much options), but we should evaluate other tooling too. Right now we're using JSCS, which does its job, but I'd like to know what the common toolset is nowadays.

Questions:
- Does it make sense to use both JSCS and ESlint together?
- Are there any other tools we should ev

[2016-02-19 06:16] rafeememon commented on #367
Nowadays in my new projects I use [standard](http://standardjs.com/), which is powered by ESLint but has an opinionated set of options.  It's definitely cool that ESLint has so many options, but so much optionality often leads to insignificant debates about style, and you end up with an extremely custom setup.  This makes the project harder to maintain and hinders approachability.  With standard w

[2016-02-23 18:40] bhuten opened #371 "First time selecting date requires two clicks"
When I select a date from the calendar for the first time, the first click on the date doesn't trigger the event and thus requiring another click to trigger the event. I cross checked with the project example and this doesn't happen with the examples you have. How can I prevent this behavior? Usually such behavior  with onClick event can be prevented by preventDefault method. #help #discussion

[2016-02-23 20:46] bhuten commented on #371
The cause of the issue unknown but it is not happening anymore ...

[2016-02-23 20:46] #371 closed

[2016-02-24 20:21] fmadden opened #372 "ESC key not doing anything"
So I needed a click handler for this component which provided access to the javascript event and target.  Since I didn't get this from the datepicker's onclick handler, (only provides access to moment) I decided to hide the datepicker input and provide a div.  Onclick of the div, I'm then internally processing and then forwarding a click event on to the datepicker, which pops open the calendar.  I

[2016-02-24 21:50] gasipari opened #373 "change input's date format"
Hello. It looks like refs.input.props.dateFormat is readonly. How can I change the default "YYYY-MM-DD" format to something different ?

[2016-02-25 00:51] rafeememon commented on #373
Hey @gasipari, you can use the `dateFormat` prop for this.  Unfortunately it looks like that prop is missing from the docs.

[2016-02-25 02:11] gasipari commented on #373
Thanks @rafeememon. It works!

[2016-02-25 02:11] #373 closed

[2016-02-25 05:34] jxm262 commented on #276
I'd be a fan of this feature as well.  I'm running into an issue where i need to manually control the focus and blur

[2016-02-25 21:50] pirate opened #374 "onChange is passed the initial date instead of the selected date"
For some reason I'm unable to get `<DatePicker/>` to work, even in the simplest possible page with no bells and whistles.  Any time I select a date, the `onChange` function is passed the initial `selected` date instead of the date I pick on the calendar.   Also for some reason the Today button is not shown, event though I'm setting the `showTodayButton` property.

[code]

Console output when I cli

[2016-02-25 23:18] rafeememon commented on #374
What version of the datepicker are you using?

[2016-02-25 23:27] pirate commented on #374
0.23.2, also tried 0.23.1 with no luck

[2016-02-26 02:08] rafeememon commented on #374
Just tried this out -- `_i` is an internal field of moment objects that you shouldn't be using here (probably i for initial or internal); logging `.toISOString()` gives the correct result.

[2016-02-26 02:08] #374 closed

[2016-02-26 13:47] PetarIvancevic commented on #320
You can do this by creating a new date and pass it to moment. If you store it in your component state then you can do this:

[code]

Hope it helps someone.

[2016-02-26 23:40] felizuno opened #375 "Parameterize z-index for tether-element"
Hi, I'm very new to React so sorry in advance if I missed something.

My first time I tried to use this component was inside a takeover which uses an increased z-index, and so the `.datepicker__tether-element` appeared behind the takeover markup. It would be great to be able to pass z-index as a parameter so that style overrides are not required.

Like I said I'm new to React, but would be happy t

[2016-02-27 03:09] rafeememon commented on #375
I'm hesitant to add something like this as we try to finalize an API for a v1.0 release because

* This potentially encourages bad programming practice by having z-indices appear in both CSS and Javascript
* The problem is solvable by adding a z-index to the tether element in CSS (assuming you already have a CSS solution set up, which is necessary to make the datepicker usable)

A potential soluti

[2016-02-28 05:25] rafeememon commented on #372
Hey @fmadden, how are you hiding the datepicker input?  Depending on how you're doing that, the browser may not actually be giving focus to the input because it's not in view, and there won't be any keypress events to listen to.  What is the reason for needing access to the click event?  There may be another way to approach the problem.

[2016-02-29 09:02] martijnrusschen commented on #375
I agree that added a parameter for this feels wrong. This is really a CSS thing and we should keep that in CSS. I just updated the datepicker in our own Codebase (since I just finished the upgrade to React 0.14) and I noticed that I had to add a z-index to the `.datepicker__tether-element` to make sure it didn't fall below other parts. (A z-index of 2 worked fine here.)

[2016-02-29 18:58] fmadden commented on #372
Hi @rafeememon
Thank you for your response.

I am hiding the element using visibility: hidden so that it still takes up the physical space it would on the screen and the calendar popup is where I would expect it to be.

The reason I need access to the actual click event, is that we are using this component in an application that needs to send some information to the server as soon as the input ele

[2016-02-29 19:09] rafeememon commented on #372
I'm not positive, but I think browsers don't actually give focus to elements that have `visibility: hidden`, which is probably why the escape key isn't doing anything.

Can you use the `onFocus` and `onBlur` props for this instead?

Without knowing much about your setup it sounds like this can be worked around by having different callbacks for each datepicker.

[2016-02-29 19:12] fmadden commented on #372
The funny thing about using onBlur, is that if I assign an onBlur event, even if the function does nothing at all, it causes the calendar popup to close when clicking on the arrows to move forward or back a month.  The month advance buttons in the calendar close the calendar when I have an onBlur event, whether it's empty or not.

[2016-02-29 19:21] rafeememon commented on #372
Ah yeah, I think there were issues with the onFocus/onBlur callbacks many versions ago; the code surrounding those props has since been completely refactored.  I would highly recommend upgrading if possible because there have been numerous other bug fixes as well, and unfortunately we can't support old versions.  If you're stuck with React 0.13, maybe you can work something out with a combination

[2016-03-01 13:35] pinturic opened #377 "Calendar styling"
It would be nice to have the chance to add a className (or any other way to style) each calendar popup on its own: for example I have a daterange in my project and I want the triangle to be left aligned for the "fromDate" control and right aligned for the "toDate" one

[2016-03-01 16:23] serphacker commented on #375
Got same issue, fixed by adding a CSS with :
[code]

[2016-03-01 20:11] felizuno commented on #375
The referenced PR resolves the core of my issue, which is really just that the default z-index is `1`, where it would be better to have it unset or set to an extremely high value e.g. #378. Given that change to the default style I am inclined to agree that adding a z-index parameter is a bad idea.

Closing this issue in anticipation of #378.

[2016-03-01 20:11] #375 closed

[2016-03-02 05:11] rafeememon commented on #343
@vsai, could you try adding the new lines from #378 to your stylesheet, and if you're still having the issue, would you mind putting together an example app showing the problem?  I'm a little perplexed that adding the z-index didn't work for you.

[2016-03-02 05:17] rafeememon commented on #347
Abandoned

[2016-03-02 05:17] #347 closed

[2016-03-03 01:26] crunchex commented on #361
Having this problem as well. I've been playing around with the tether properties, but haven't come up with a combination that serves as a workaround. If anyone finds one, please lay it down here.

[2016-03-03 06:50] rafeememon commented on #343
Added the `renderCalendarTo` prop with #380

[2016-03-03 06:50] #343 closed

[2016-03-03 07:26] rafeememon opened #382 "Provide a simple moment-less API"
In one of my projects I'm passing dates to server API calls as strings, and I also receive dates back as strings which are stored in redux state.  In the spirit of keeping my state clean I keep the strings as the source of truth rather than moment objects; this also makes it possible to pre-generate my state on the server, which would get ugly if it contained moment objects.  This led me to write

[2016-03-03 07:36] rafeememon commented on #382
For posterity here is what my wrapper component looks like:
[code]

[2016-03-04 18:14] martijnrusschen commented on #367
We switched to ESLint with standard.js config and specific React rules.

[2016-03-04 18:14] #367 closed

[2016-03-04 18:21] martijnrusschen commented on #382
1. Feels silly but keeps it simple
2. Sounds nice, but feels wrong.
3. This is probably the best UX, but I don't think this is really stable and reliable in the future.

This comment isn't really helping, but wanted to share my thoughts.

[2016-03-04 18:23] martijnrusschen commented on #320
@PetarIvancevic's answer looks probably like the way to go here. Do we want to document this somewhere?

[2016-03-04 18:26] rafeememon commented on #320
@PetarIvancevic's solution sets the selected date, but @TheSisb was looking for a way without doing that.  @uniphil's code gets the right functionality but in an "unsupported" way.

[2016-03-10 16:21] piotrblasiak opened #395 "Support for time as well as date"
I can not see that there is any support for time picking, shouldn´t that be part of this component as well?

[2016-03-10 16:56] #372 closed

[2016-03-10 18:53] rafeememon opened #396 "Proposal to remove DateInput styles"
Continuing discussion from #388, related to work on #394

The [styles applied to the DateInput](https://github.com/Hacker0x01/react-datepicker/blob/v0.24.0/src/stylesheets/datepicker.scss#L162) make the `<input>` element look nice enough for most situations.  However, I think it's a good idea to move in the direction of exposing the `<input>` element directly, allowing consumers to treat the datep

[2016-03-11 11:04] vguzev opened #398 "Internet Explorer 9 support"
Hi!

We're currently looking for replacement for our DatePicker component and your project looks great!
Unfortunately we still have requirement of supporting Internet Explorer 9, because a lot of customers are still using it in banking sphere. Do you support IE9?
Demo page https://hacker0x01.github.io/react-datepicker/ is not working in IE9. It gives error:
SCRIPT1028: Expected identifier, string

[2016-03-11 15:29] gnawjaren opened #399 "DateInput does not re-render on format change"
Hello.
when the locale changes (either moment.js global or via props) or the format props change, the component should re-render with the new format ?

currently that is not the case, the new format only gets picked up after a date change.
the problem is - the state of DateInput keeps the formatted date,
and the format gets only respected on change (not on re-render with same date, but different f

[2016-03-11 17:45] rafeememon commented on #398
After some googling it looks like that error is from how we compile the demo site (appears to be the same  issue described [here](http://jamesknelson.com/using-es6-in-the-browser-with-babel-6-and-webpack/#comment-4187)).  Re: IE9; the best way to find out is to give it a try, and we'd be happy to accept any PRs to make it compatible.

[2016-03-11 17:50] rafeememon commented on #399
Hey @gnawjaren, good find.  I don't think that can be a solution because `maybeDate` stores the text of the input regardless of whether it's a valid date, and it would wipe out the user's intermediate text.  I'm sure there's another way to do this though.

[2016-03-11 18:15] gnawjaren commented on #399
I see, so maybe `componentWillReceiveProps` and setting `maybeDate` there may be an option?

[2016-03-12 16:45] penteleq opened #401 "Please add custom calendar class property"
Many solution has .datepicker class so much conflicts in common. Please change classname or make it dynamic. Thank you!

[2016-03-13 03:39] rafeememon commented on #401
Will be fixed with #391

[2016-03-13 19:47] rafeememon commented on #399
Fixed by #400

[2016-03-13 19:47] #399 closed

[2016-03-14 13:54] edygar opened #402 "Input type to DateInput"
It would be nice if it was possible to inject type of the `DateInput`, it uses 'text' but type 'date' provides a better experience in smartphone,

[2016-03-14 13:56] martijnrusschen commented on #402
Probably best to make `date` the default.

[2016-03-14 15:12] thomasduenser opened #403 "Remove tap delay of 300ms for month navigation"
It's easy to remove the tap delay for Android devices but it's not possible with CSS for every iOS Version yet.

Is there a way to remove the tap delay? Maybe this plugin would be the solution https://github.com/zilverline/react-tap-event-plugin.

It's not possible to navigate fastly through the month on iOS devices. Any idea is helpful! :)

Thanks for the great work btw!

[2016-03-14 15:18] rafeememon commented on #402
How does an input or type `date` behave when the browser doesn't support it?  I know the date type is a relatively new thing.

[2016-03-14 16:58] rafeememon commented on #403
It looks like that plugin would do the trick, and judging from the readme it looks like it's possible to use it independently of the datepicker component by calling `injectTapEventPlugin()` in your project code.  Let us know if that doesn't work.

[2016-03-14 18:22] edygar commented on #402
it falls back to text type in all browsers.

Em seg, 14 de mar de 2016 às 12:19, Rafee Memon <notifications@github.com>
escreveu:

[2016-03-14 18:33] rafeememon commented on #402
@edygar, could you elaborate on how it's a "better experience" for the date type? (sorry, edited after I posted and it's not in the notification email)

[2016-03-14 18:38] rafeememon commented on #402
Briefly tried this out, and it looks like it currently won't work.  The native Chrome date picker and handling of the text in the input field conflicts with the DatePicker component's handlers.

[2016-03-14 20:14] edygar commented on #402
@rafeememon, so, we can [hide the built in controls with CSS](http://stackoverflow.com/a/12267927) and the value should comply with  [RFC 3339](https://www.w3.org/TR/html-markup/input.date.html#input.date.attrs.value).

But as I was looking deeper into this idea, I found hard to change the format it presents the input to the user, simply there isn't a way to specify the format, so it is up to the

[2016-03-15 00:57] Pizdetss commented on #398
Just FYI

The datepicker also has a dependency called 'react-onclickoutside' which doesn't support IE9 and never will. So unless they change this dependency your datepicker will not function correclty in IE9.

[2016-03-15 07:51] rafeememon commented on #398
Thanks for digging into that @Pizdetss.  The reasoning for this is detailed on [this issue](https://github.com/Pomax/react-onclickoutside/issues/60) (perfectly valid IMO).  In another issue, [this comment](https://github.com/Pomax/react-onclickoutside/pull/14#issuecomment-103211295) describes a possible workaround, but I haven't tried it out.

[2016-03-15 08:11] rafeememon commented on #402
Sorry that we can't get this fix in for you @edygar.  Maybe we should revisit this when browsers have fully fleshed out the features we'd need to use.

I'm also wondering what that would imply for the future of this component if all browsers give a native picker for `date` types.  Something to keep an eye on

[2016-03-15 08:11] #402 closed

[2016-03-15 08:34] thomasduenser commented on #403
Thank you very much for the fast answer!

I think that's not enough, on the month navigation (prev + next) next to the `onClick`, there must be `onTouchTap` like in the Example of the `tap-event-plugin`.

[2016-03-15 10:09] martijnrusschen commented on #401
Fixed with #391

[2016-03-15 10:09] #401 closed

[2016-03-15 11:40] edygar commented on #402
For me there's a simple solution, i just need to switch inputs accordingly with the resolution. It is just a shame that HTML5 date input comes so limited.

Anyway, thank you by the support. Good job in this component!

[2016-03-16 07:33] vguzev commented on #398
@Pizdetss @rafeememon We've already created a clone of react-onclickoutside with IE9 support: https://www.npmjs.com/package/react-onclickoutside-ie9

[2016-03-16 08:05] rafeememon opened #405 "Publish lib instead of dist build"
As pointed out in #404, the dist build isn't the friendliest to those who are using module bundlers (i.e. probably everyone at this point).  Since we officially stopped supporting bower and RoR, we can optimize the build by publishing the `src` cross-compiled into `lib` and **stop publishing a heavy `dist` build**.  Unfortunately this is an API break, but filing this so that we don't forget to mak

[2016-03-16 09:13] vguzev commented on #398
Please, see PR for this issue: https://github.com/Hacker0x01/react-datepicker/pull/406

[2016-03-16 09:30] rafeememon commented on #398
@vguzev, unfortunately I'm skeptical of including dependencies on forks of repositories because of the risk of the forks being abandoned, and I'd like to try to stay with the main plugin.  I'm also now skeptical of supporting IE9 for the reasons mentioned in the main plugin.  Can you try the workaround I mentioned in https://github.com/Hacker0x01/react-datepicker/issues/398#issuecomment-196706326

[2016-03-16 09:38] rafeememon commented on #398
Also, from the `react-onclickoutside` readme:

[code]

Please try adding `classlist-polyfill` to your setup to get IE9 working.

[2016-03-16 10:27] vguzev commented on #398
OK. Then I suppose you should add info about this `classlist-polyfill` to your Readme page (+ some polyfill for console.* support). And add these polyfills to your demo page as well...

P.S. @Pomax should add `classlist-polyfill` as dependency in `react-onclickoutside`, but for some reasons declines to do that... So, all depending components have to warn their users about this issue... not really

[2016-03-16 11:11] rafeememon commented on #398
Added a note about IE9 compatibility in #408

[2016-03-16 12:56] #398 closed

[2016-03-16 15:30] thomasduenser commented on #403
I ended up using [fastclick](https://github.com/ftlabs/fastclick) with the help of [this stackoverflow question](http://stackoverflow.com/questions/24335821/can-i-fastclick-reactjs-running-in-cordova). Seems to work fine.

Can be closed, but maybe a solution inside the plugin code would be awesome one day. Keep up the great work!

[2016-03-16 15:57] rafeememon commented on #403
Hey @thomasduenser, glad you got it working.  Not sure a solution should be included natively in this plugin as it's a very platform-specific thing for a marginal UI improvement, and there are workarounds like the one you found.  However this could be included in a mobile-specific build, which is something I've been thinking about lately.

[2016-03-16 15:57] #403 closed

[2016-03-16 16:13] Pomax commented on #398
That's because IE9 has not been officially supported by Microsoft for over two months now. Make the web a better place, support supported browsers, not abandoned ones.

[2016-03-16 19:05] danielone opened #409 "Keyboard Support"
Is there keyboard support for navigation in dialog?

[2016-03-16 22:29] strawbrary opened #410 "Difficult to differentiate selectable days in range"
When there are unselectable days within a date range, it's a little difficult to differentiate between which days are selectable and which ones aren't. What do you think of increasing the contrast between the two for range selections?

![screen shot 2016-03-16 at 3 26 23 pm](https://cloud.githubusercontent.com/assets/2499332/13830685/7e5825aa-eb8b-11e5-8f5e-4e4cf6d372a9.png)

[2016-03-17 05:19] rafeememon commented on #410
Hey @strawbrary, good find.  I think this actually brings up the bigger question of what disabled selected dates should look like in general.  My first instinct is to get rid of the blue background altogether for those dates, but I'm not sure.  What do you think?

[2016-03-17 06:19] Pizdetss opened #411 "Expose input type"
Hi,

Is it possible to expose the input type so we can target mobile devices keyboard to show numbers instead of the whole keyboard.

Cheers,

[2016-03-17 07:45] rafeememon commented on #411
Hey @Pizdetss, this is something we could do, but I'm interested in your use case.  I think having only numbers available on the keyboard wouldn't allow someone to type in a full formatted date, and I'm not sure how a browser will react if a formatted date is put into a number field (probably should treat as undefined behavior).  Am I missing something?

(want to make sure that if we add this to t

[2016-03-17 09:02] Pizdetss commented on #411
Hey @rafeememon, thanks for quick response.

Basically we can utilize html5 input type 'date' to keep the correct format.
You are correct that 'numbers' will not format the date correctly as I believe that type doesn't allow character '/'. However we could also use type 'tel'.

There is some more info here: https://miketaylr.com/pres/html5/forms2.html (be warned the date input on here has some fun

[2016-03-17 14:05] rafeememon commented on #411
We had some interesting discussion re: using the `date` type on #402.  The tl;dr was that browser handling for types other than `text` conflict with the way this component handles the input field.  Specifically for  `type='date'`, focusing opens a native datepicker, imposes a date format that can't be changed, and generally did weird things when I briefly tried it out =P  Not sure if you've consid

[2016-03-17 14:09] rafeememon commented on #411
Oops, that commit did the opposite of what I wanted -- reverted it

[2016-03-17 14:12] rafeememon commented on #402
Hey @edygar -- I think we'll be exposing the `type` of the input as a prop rather than making `date` the default as we discussed here.

[2016-03-17 15:56] rafeememon commented on #396
Removed in #412

[2016-03-17 15:56] #396 closed

[2016-03-17 16:57] pwuk opened #413 "Header navigation obeys minDate and maxDate &| includeDates"
Stop the header navigation going past the permitted dates.

e.g.
If I set 17/March/16 to 21/March/2016 as the only available days
it'd be useful not to be able to navigate to months were no selection is available.

Moon on  a stick: where dates in March and  May are available, jump over April

[2016-03-17 17:29] rafeememon commented on #173
Closing in favor of #413

[2016-03-17 17:29] #173 closed

[2016-03-17 17:46] strawbrary commented on #410
Hi @rafeememon, here's a little about my use case and why I'm combining range + filter. I'm creating a UI for querying a slightly offbeat analytics API. When requesting weekly data, the API strictly defines a week as starting on Monday and ending on Sunday, and the API can only return a full week's data, no partials. If you asked for data from Monday to the following Monday (8 days), you'd actuall

[2016-03-17 18:37] rafeememon commented on #410
Ah cool, that makes sense.  I'm not sure what the right style adjustment to make is, but you can try adding CSS for `.react-datepicker__day--disabled.react-datepicker__day--in-range` to get something that works for you.  Let us know if you find something that looks good!

[2016-03-17 18:59] strawbrary commented on #410
I'm no designer, so I just went for a darker gray and that seems okay-ish.

![screen shot 2016-03-17 at 11 57 03 am](https://cloud.githubusercontent.com/assets/2499332/13857505/71d05b3e-ec37-11e5-99db-8ad511b29c3b.png)

[2016-03-18 00:25] Pizdetss commented on #411
@rafeememon thanks!

[2016-03-18 15:15] adambowles opened #414 "Locale inconsistency when typing date"
Typing a date string into the text box in amiguous format (e.g. `02/01/2016`) datepicker will assume American date format, i.e. typing `02/01/2016` -> `01/02/2016` gets rendered, and vice versa.

Occurs in [this demo](https://hacker0x01.github.io/react-datepicker/#example-6)

[2016-03-19 08:31] rafeememon commented on #414
Fixed by #400, will be available in the next release

[2016-03-19 08:31] #414 closed

[2016-03-19 14:10] martijnrusschen commented on #413
Fixed by #416

[2016-03-19 14:10] #413 closed

[2016-03-19 14:11] martijnrusschen commented on #411
@rafeememon What do you suggest here? Make the type configurable as a prop?

[2016-03-19 14:15] martijnrusschen commented on #122
@rafeememon What do you think? Should we change this? I checked our dependency list and it looks like we're relying on small lib mostly, but moment.js is the only heavy lib in this list. Should we move this (breaking change) or just keep is as it is?

[2016-03-19 14:17] martijnrusschen commented on #253
Not really interested in changing our current test setup at this point.

[2016-03-19 14:17] #253 closed

[2016-03-19 21:00] thupi opened #420 "Display weeknumber"
I would love to see week numbers in the calender :smile:

[2016-03-20 16:09] rafeememon commented on #122
I think this should be changed, but I think we should wait to break this right before the v1.0 release.  The reasoning behind this is that the DatePicker depends on moment, but it's extremely likely that consumers will be depending on moment independently in their app code (at the very least to use the DatePicker API), so it should use the same physical dependency to line up the versions.

[2016-03-21 16:34] cubbuk commented on #395
+1

[2016-03-21 18:52] adamgruber opened #422 "Clear icon doesn't show when readOnly is true"
So I've set up a datepicker inside a form. I want my users to be able to clear the picker so I set `isClearable: true` and I get the close icon. Yay! :smile: I would also like to disable typing in the input box so I set `readOnly: true`. Now the close icon no longer appears. Boo! :cry:

Any way to enable clearing of the input box while also preventing users from typing into it?

Honestly I wouldn'

[2016-03-21 19:56] rafeememon commented on #422
What version are you running?  Setting `isClearable` and `readOnly` seems to work as expected for me.

[2016-03-21 20:04] adamgruber commented on #422
I'm using version `0.24.0`. I looked a little deeper and I do see that the close icon is indeed getting rendered but it is being hidden by this line of CSS:
[code]

[2016-03-21 20:32] rafeememon commented on #422
Ah, turns out this was unwittingly fixed in #412.  @martijnrusschen, we should probably cut a release to include this and other recent fixes

[2016-03-21 22:07] dmnd opened #424 "Please release 0.25.0"
There's [lots of unreleased commits in master](https://github.com/Hacker0x01/react-datepicker/compare/v0.24.0...master). Could you please publish a new release? :smile:

I ask because I want the changes from #404 but due to [npm limiltations](npm/npm#3055) it's annoying to depend on a git repository for modules that have a build step. Currently I'm using [`npm-git-install`](https://github.com/lzrs